<tr *ngIf="isEnabled" style="height: 1px;;vertical-align: middle;" class="table-tender__common-row"
    [class.table-tender__active]="IsOpened">
    <td class="td-bradiusLeft text-center font-size width-32px " (click)="toggleOpened($event)"
        [class.td-plus-open]="IsOpened">
        <div class="td-plus"><span>{{ IsOpened ? '-' : '+'}}</span></div>
    </td>
    <td>{{bid.number}}</td>
    <td>{{bid.country}}</td>
    <td>{{bid.city}}</td>
    <td>{{dateToString(bid.loadingFrom)}}</td>
    <td>{{dateToString(bid.unloadDate)}}</td>
    <td style="border-right: none;">
        <div class="vertical-line-wrap">{{TenderEndTime}}<span class="vertical-line"></span></div>
    </td>
    <td style="border-left: none;width: 75px;text-align: center;">{{TimeToEnd}}</td>
    <td>{{bid.currency}}</td>
    <td [class.bg-green]="areMyPriceValid" [class.color-white]="areMyPriceValid">{{bid.myPrice || '--'}}</td>
    <td>{{bid.price || '--'}}</td>
    <td>{{bid.paymentConditions}}</td>
    <td style="position: relative;" class="list-td">
        <div [class.single-row]="!showTwoRowsInPrice" [class.multiply-row]="showTwoRowsInPrice" class="single-row ">
            <ul style="height: 100%;" class="list" app-tender-bid-row-tender-helper [price]="bid.price"
                [myPrice]="bid.myPrice" [isReduction]="bid.isReduction" [enteredPrice]="newPrice" [step]="bid.priceStep"
                (onBidSubmit)="bidSubmitted($event)">
            </ul>
        </div>
    </td>
    <td style="position: relative;" class="rate">
        <div class="rate-row-wrap" [class.input-rate__border-red]="!IsPriceValid && !busy"
            [class.input-rate__border-green]="IsPriceValid && newPrice > 0 && !busy">
            <input [OnlyNumber]="true" class="input-rate  input-rate__row" maxlength="10" [(ngModel)]="newPrice"
                type="text">
        </div>
    </td>
    <td class="rate-row" style="position: relative;">
        <div style="height: 100%;" class="rate-row-wrap">
            <input readonly class="input-rate  input-rate__row" value="{{bid.priceStep}}" type="text">
        </div>
    </td>
    <td class="rate" style="position: relative;">
        <div style="height: 100%;" class="rate-row-wrap">
            <input class="input-rate  input-rate__row" type="text" [(ngModel)]="comment">
        </div>
    </td>
</tr>

<tr *ngIf="IsOpened && isEnabled" class="table-open">
    <th class="td-bradiusLeft text-center" colspan="3">{{'table-body.production' | translate}}</th>
    <th class="text-center" colspan="3">{{'table-body.transport' | translate}}</th>
    <th class="text-center" colspan="4">{{'table-body.loading-point' | translate}}</th>
    <th class="text-center" colspan="2">{{'table-body.loading-time' | translate}}</th>
    <th class="text-center" colspan="3">{{'table-body.information' | translate}}</th>
    <th class=" text-center">{{'table-body.files' | translate}}</th>
</tr>
<tr *ngIf="IsOpened && isEnabled" class="table-open__item">
    <td class="td-bradiusLeft text-center" colspan="3">{{bid.cargoType}}</td>
    <td class="text-center" colspan="3">{{bid.transportType}}</td>
    <td class="text-center" colspan="4">{{bid.cityFrom}}</td>
    <td class="text-center" colspan="2">{{LoadingTime}}</td>
    <td class="text-center" colspan="3">{{bid.additionalInfo}}</td>
    <td class="text-center"><span class="download-icon download-icon-grey"></span>{{'table-body.download' | translate}}</td>
</tr>
