@charset "UTF-8";
@font-face {
  font-family: DaxlinePro-Regular;
  /* Имя шрифта */
  src: url(../fonts/DaxlinePro-Regular.ttf) format("truetype");
  /* Путь к файлу со шрифтом */
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: DaxlinePro-Medium;
  /* Имя шрифта */
  src: url(../fonts/DaxlinePro-Medium.ttf) format("truetype");
  /* Путь к файлу со шрифтом */
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: DaxlinePro-Bold;
  /* Имя шрифта */
  src: url(../fonts/DaxlinePro-Bold.ttf) format("truetype");
  /* Путь к файлу со шрифтом */
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: DaxlinePro-Light;
  /* Имя шрифта */
  src: url(../fonts/DaxlinePro-Light.ttf) format("truetype");
  /* Путь к файлу со шрифтом */
  font-style: normal;
  font-weight: normal; }

body {
  font-size: 16px;
  font-family: DaxlinePro-Regular;
  position: relative;
  color: #636B70; }

ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none; }

a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all; }
  a:hover, a:focus, a:active {
    text-decoration: none;
    color: #000;
    outline: none; }

button, input {
  outline: none;
  border: none; }

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 15px;
  background: #fff;
  -webkit-box-shadow: 0 0 33px -15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 33px -15px rgba(0, 0, 0, 0.5); }

.logo {
  float: left;
  width: 156px; }

.bg-orange {
  background: #F08400 !important; }
  .bg-orange td {
    background: #F08400 !important; }

.bg-blue {
  background: #00A7E3 !important; }
  .bg-blue td {
    background: #00A7E3 !important; }

.td-border-top-left {
  -webkit-border-top-left-radius: 8px;
          border-top-left-radius: 8px; }

.td-border-top-right {
  -webkit-border-top-right-radius: 8px;
          border-top-right-radius: 8px; }

.td-border-bottom-right {
  -webkit-border-bottom-right-radius: 8px;
          border-bottom-right-radius: 8px; }

.td-border-bottom-left {
  -webkit-border-bottom-left-radius: 8px;
          border-bottom-left-radius: 8px; }

.light-row.table-tender__common-row td {
  background: #F1F1F1 !important; }

.dark-row.table-tender__common-row td {
  background: #E2E2E2 !important; }

.small-text {
  margin-left: 20px;
  font-size: 12px;
  margin-bottom: 12px; }

.menu {
  float: right; }
  .menu__list {
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block; }
    .menu__list li {
      display: inline-block;
      padding-bottom: 13px;
      padding-top: 5px;
      margin-right: 8px;
      margin-left: 8px;
      -webkit-transition: 0.3s all;
      -o-transition: 0.3s all;
      transition: 0.3s all;
      border-bottom: 3px solid transparent; }
      .menu__list li.active {
        border-bottom: 3px solid #00A7E3; }
      .menu__list li:hover {
        border-bottom: 3px solid #00A7E3;
        -webkit-transition: 0.3s all;
        -o-transition: 0.3s all;
        transition: 0.3s all; }
    .menu__list a {
      color: #636B70; }
    .menu__list__item--color:hover a {
      text-shadow: none !important; }
    .menu__list__item--color a {
      color: #F08400; }

.common-button {
  display: inline-block;
  text-align: center;
  color: #fff;
  background-color: #F08400;
  border: 2px solid #F08400;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  min-width: 102px;
  height: 34px;
  line-height: 34px; }
  .common-button:hover {
    color: #fff;
    background-color: #f1911c; }

.enter-button {
  margin: 0 35px; }

.exit-button {
  color: #F08400;
  background: transparent;
  border-color: transparent; }
  .exit-button:hover {
    background-color: transparent;
    color: #f1911c;
    text-decoration: underline; }

.lang-button {
  display: inline-block;
  text-align: center;
  width: 34px;
  height: 34px;
  line-height: 34px;
  border: 2px solid #A4B700;
  color: #A4B700;
  -webkit-border-radius: 5px;
          border-radius: 5px; }
  .lang-button:hover {
    color: #b1c405;
    border-color: #b1c405; }

.main {
  padding-top: 85px;
  padding-bottom: 90px; }
  .main__poster {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 240px;
    padding-left: 100px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    background-image: url("../img/bg.png"); }
    .main__poster::before {
      position: absolute;
      top: -1px;
      left: 75px;
      content: ' ';
      display: block;
      width: 82px;
      height: 40px;
      background-position: center;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
              background-size: cover;
      background-image: url("../img/before.png"); }
  .main__poster-text {
    display: inline-block;
    padding: 10px;
    padding-bottom: 4px;
    padding-top: 15px;
    background-color: rgba(99, 107, 112, 0.7);
    -webkit-border-radius: 5px;
            border-radius: 5px;
    color: #fff;
    min-width: 325px; }
    .main__poster-text h1 {
      font-size: 32px;
      font-family: DaxlinePro-Bold;
      margin-top: 12px;
      margin-bottom: 7px; }
  .main__search {
    padding: 20px 0; }
    .main__search input {
      display: inline-block;
      float: left;
      border: 1px solid #F1F1F1;
      width: -webkit-calc(100% - 93px);
      width: calc(100% - 93px);
      padding: 7px 20px 7px 30px;
      -webkit-border-top-left-radius: 5px;
              border-top-left-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
              border-bottom-left-radius: 5px; }
      .main__search input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #ABABAB;
        font-family: DaxlinePro-Light;
        -webkit-transition: 0.3s all;
        -o-transition: 0.3s all;
        transition: 0.3s all; }
      .main__search input::-moz-placeholder {
        /* Firefox 19+ */
        color: #ABABAB;
        font-family: DaxlinePro-Light;
        -webkit-transition: 0.3s all;
        -o-transition: 0.3s all;
        transition: 0.3s all; }
      .main__search input:-ms-input-placeholder {
        /* IE 10+ */
        color: #ABABAB;
        font-family: DaxlinePro-Light;
        -webkit-transition: 0.3s all;
        -o-transition: 0.3s all;
        transition: 0.3s all; }
      .main__search input:-moz-placeholder {
        /* Firefox 18- */
        color: #ABABAB;
        font-family: DaxlinePro-Light;
        -webkit-transition: 0.3s all;
        -o-transition: 0.3s all;
        transition: 0.3s all; }
      .main__search input:focus::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: transparent; }
      .main__search input:focus::-moz-placeholder {
        /* Firefox 19+ */
        color: transparent; }
      .main__search input:focus:-ms-input-placeholder {
        /* IE 10+ */
        color: transparent; }
      .main__search input:focus:-moz-placeholder {
        /* Firefox 18- */
        color: transparent; }
  .main__search-icon {
    display: inline-block;
    float: left;
    width: 93px;
    height: 38px;
    background-color: #FFDC00;
    background-image: url("../img/search.png");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: 16px 16px;
            background-size: 16px;
    -webkit-border-top-right-radius: 5px;
            border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
            border-bottom-right-radius: 5px; }

.table-tender {
  width: 100%;
  font-family: DaxlinePro-Regular;
  color: #636B70;
  border-collapse: separate; }
  .table-tender__export {
    color: #fff;
    padding-top: 20px !important;
    padding-bottom: 20px !important; }
  .table-tender__import {
    color: #fff;
    padding-top: 20px !important;
    padding-bottom: 20px !important; }
  .table-tender__uk {
    color: #fff;
    padding-top: 20px !important;
    padding-bottom: 20px !important; }
  .table-tender__scroll {
    width: 2200px; }
  .table-tender__inline {
    display: inline-block; }
    .table-tender__inline-countTitle {
      font-size: 12px; }
    .table-tender__inline-count {
      font-size: 16px; }
  .table-tender__inline2 {
    border-left: 2px solid rgba(0, 0, 0, 0.16);
    padding-left: 15px; }
  .table-tender__flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .table-tender__header {
    background-color: #636B70;
    color: #fff; }
  .table-tender__header--bg-none {
    background-color: transparent; }
  .table-tender__header--bg-green td {
    background-color: #A4B700; }
  .table-tender td, .table-tender th {
    position: relative;
    font-weight: normal;
    padding: 4px 4px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff; }
  .table-tender__common-row td {
    background-color: #F1F1F1; }
  .table-tender__common-row:nth-child(2n) td {
    background-color: #E2E2E2; }
  .table-tender__common-row--yellow td {
    background-color: #FFEFDB !important; }
  .table-tender__common-row--orange td {
    background-color: #F08400 !important;
    color: #fff; }

.export-lable {
  position: relative;
  display: block;
  padding-left: 23px;
  font-size: 15px;
  margin-bottom: 0;
  font-weight: normal; }
  .export-lable:after {
    position: absolute;
    display: block;
    content: ' ';
    width: 13px;
    height: 13px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    background: #fff;
    left: 0;
    top: 46%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .export-lable:before {
    position: absolute;
    display: block;
    content: ' ';
    width: 9px;
    height: 6px;
    border-bottom: 1px solid #F08400;
    border-left: 1px solid #F08400;
    top: 5px;
    left: 2px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    z-index: 1;
    opacity: 0;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all; }

.import-lable:before {
  border-color: #A4B700; }

.uk-lable:before {
  border-color: #00A7E3; }

.heder-input-checkbox:checked ~ label::before {
  opacity: 1;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all; }

.td-bradiusLeft {
  -webkit-border-bottom-left-radius: 8px;
          border-bottom-left-radius: 8px;
  -webkit-border-top-left-radius: 8px;
          border-top-left-radius: 8px; }

.td-bradiusRight {
  -webkit-border-bottom-right-radius: 8px;
          border-bottom-right-radius: 8px;
  -webkit-border-top-right-radius: 8px;
          border-top-right-radius: 8px; }

.bg-grey {
  background: #91999E; }

.arrow-down {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  right: 12px;
  top: 9px;
  cursor: pointer; }

.width-32px {
  width: 32px; }

.width-16 {
  width: 16.666%; }

.width-14 {
  width: 14.3%; }

.width-500 {
  width: 500px; }

.check-input {
  display: none; }

.check-label {
  position: relative; }
  .check-label::before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-40%, -44%);
        -ms-transform: translate(-40%, -44%);
            transform: translate(-40%, -44%);
    content: ' ';
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #636B70;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    background-color: #fff;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all; }
  .check-label::after {
    position: absolute;
    content: ' ';
    opacity: 0;
    top: -5px;
    right: -7px;
    display: inline-block;
    width: 10px;
    height: 7px;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all; }

.check-input:checked + label.check-label::after {
  opacity: 1; }

.check-input:checked + label.check-label::before {
  background-color: #00A7E3;
  border-color: transparent; }

.td-plus {
  position: relative;
  cursor: pointer; }
  .td-plus span {
    position: absolute;
    font-size: 30px;
    line-height: 20px;
    top: 52%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
            transform: translate(50%, -50%); }

.td-download {
  color: #F08400; }

.download-icon {
  display: inline-block;
  width: 20px;
  height: 25px;
  background-position: center;
  background-image: url("../img/download-icon.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  margin-right: 10px;
  position: relative;
  top: 4px; }

.download-icon-grey {
  background-image: url("../img/download-file.png"); }

.data-shipping {
  padding-left: 10%; }

.td-plus-empty span {
  color: #C2C2C2; }

.table-tender__active td {
  color: #fff;
  background: #636B70 !important; }

.td-plus-open {
  background: #FFDC00 !important;
  color: #636B70; }

.td-plus-border-bottom {
  -webkit-border-bottom-left-radius: 8px;
          border-bottom-left-radius: 8px; }

.td-plus-border-bottom.td-plus-open {
  -webkit-border-radius: 0;
          border-radius: 0; }

.table-open th {
  background: #FFDC00 !important; }

.table-open__item td {
  background: #FFF6BE !important; }

.bg-green {
  background: #A4B700 !important; }

.bg-red {
  background: #FF5D5D !important; }

.color-white {
  color: #fff; }

.grey-line {
  width: 25px;
  border-bottom: 2px solid #636b70;
  margin-top: 5px;
  margin-bottom: 5px; }

.vertical-line {
  display: inline-block;
  position: absolute;
  height: 70%;
  border-left: 1px solid #AEAEAE;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.rate {
  background: #fff !important;
  padding: 0 !important; }

.rate-row {
  padding: 0 !important; }

.input-rate {
  border: 1px solid #E2E2E2;
  padding: 4px;
  font-size: 16px;
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #636B70; }
  .input-rate__border-green {
    border: 1px solid #A4B700 !important; }
  .input-rate__border-red {
    border: 1px solid #FF5D5D !important; }
  .input-rate__row {
    background: transparent;
    height: 100%; }

.rate-row-wrap {
  width: 100%;
  height: 100%; }

.rate-finished {
  color: #ABABAB; }

.button-rate-send {
  width: 30px;
  -webkit-flex-basis: 30px;
      -ms-flex-preferred-size: 30px;
          flex-basis: 30px;
  margin-left: 3px;
  background: #00A7E3;
  -webkit-border-top-right-radius: 5px;
          border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
          border-bottom-right-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/send-button.png"); }

.button-rate-already-send {
  background-color: #A4B700;
  background-image: url("../img/tick.png"); }

.footer {
  position: fixed;
  width: 100%;
  background: #fff;
  bottom: 0;
  left: 0;
  padding: 20px 0; }

.common-button-send {
  display: inline-block;
  background: #00A7E3;
  color: #fff;
  padding: 8px 25px;
  -webkit-border-radius: 5px;
          border-radius: 5px; }

.main-tender {
  padding-bottom: 80px; }

.offer-count {
  display: inline-block;
  background: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 20px;
  height: 20px;
  color: #636B70;
  text-align: center;
  font-size: 15px;
  line-height: 16px;
  position: relative;
  top: -2px;
  margin-left: 5px; }

.pagination {
  width: 100%;
  margin-top: 40px;
  border-top: 2px solid #F1F1F1;
  padding: 15px;
  text-align: center; }
  .pagination-wrap {
    display: inline-block;
    margin: 0 auto; }
  .pagination__button {
    display: inline-block;
    position: relative;
    top: 13px;
    width: 32px;
    height: 32px;
    background: #FFDC00;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 20px;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all; }
    .pagination__button:hover {
      -webkit-box-shadow: 0 0 5px -2px #000;
              box-shadow: 0 0 5px -2px #000; }
  .pagination__prev {
    background-image: url("../img/arrow-point-to-right (1).png"); }
  .pagination__next {
    background-image: url("../img/arrow-point.png"); }
  .pagination__number {
    display: inline-block;
    min-width: 32px;
    height: 32px;
    line-height: 29px;
    border: 1px solid transparent;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all; }
    .pagination__number:hover {
      border: 1px solid #FFDC00;
      text-shadow: 0 0 0.3px #000, 0 0 0.3px #000; }
  .pagination__number-active {
    border: 1px solid #FFDC00;
    text-shadow: 0 0 0.3px #000, 0 0 0.3px #000; }
  .pagination__ellipsis {
    display: inline-block; }

.td-plus-height {
  height: 32px; }

.table-tender__active .rate .input-rate__row {
  background-color: #fff; }

.table-tender__active .rate-row .input-rate__row {
  color: #fff; }

.list-td {
  padding: 0 !important; }

.list {
  background: #fff;
  border: 1px solid #e2e2e2; }

.list-item {
  color: #B4B4B4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  width: 100%;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  padding: 4px 0;
  cursor: pointer;
  border-top: 1px solid #e2e2e2; }
  .list-item:first-child {
    border: none; }
  .list-item span {
    display: inline-block;
    padding-left: 4px;
    width: -webkit-calc(100% - 25px);
    width: calc(100% - 25px); }
  .list-item:hover {
    background-color: #00A7E3;
    color: #fff; }

.list-item-is-sent {
  height: 100%; }
  .list-item-is-sent:hover {
    background-color: #A4B700;
    color: #fff; }
  .list-item-is-sent .list-send-button {
    background-image: url("../img/tick.png");
    background-position: center;
    background-repeat: no-repeat; }

.list-send-button {
  display: inline-block;
  width: 16px;
  height: 14px;
  margin-left: 5px;
  margin-right: 4px;
  background-image: url("../img/send-button.png"); }

@media (min-width: 1200px) {
  .container {
    width: 1280px;
    padding-left: 0;
    padding-right: 0; } }

.common-table-wrap .export-lable {
  margin-left: 20px; }
  .common-table-wrap .export-lable:after {
    border: 1px solid #636b70; }
  .common-table-wrap .export-lable::before {
    border-color: #fff; }

.common-table-wrap .tender-type .heder-input-checkbox:checked + label:after {
  background-color: #636b70; }

.common-table-wrap .table-tender__export .export-lable:before {
  border-color: #f08400; }

.common-table-wrap .table-tender__export .export-lable:after {
  border: none; }

.common-table-wrap .table-tender__import .export-lable:before {
  border-color: #a4b700; }

.common-table-wrap .table-tender__import .export-lable:after {
  border: none; }

.common-table-wrap .table-tender__uk .export-lable:before {
  border-color: #00a7e3; }

.common-table-wrap .table-tender__uk .export-lable:after {
  border: none; }
