<table class="sub-table text-center" (click)="submitBid($event,first)">
  <tr>
    <td class="border">
      <a class="text-center" href="#" >
        <input *ngIf="!(tenterType == 'RNG')" class="common-input text-center" readonly [value]="(tenterType == 'RNG') ? '' : first" type="text"> <br />
        <svg id="send-button" xmlns="http://www.w3.org/2000/svg" width="16" height="13.714" viewBox="0 0 16 13.714">
          <g id="send">
            <path id="Path_666" data-name="Path 666" d="M0,51.964l16-6.857L0,38.25v5.333l11.429,1.524L0,46.631Z"
              transform="translate(0 -38.25)" fill="#e2e2e2" />
          </g>
        </svg>
      </a>
    </td>
  </tr>
</table>