<table class="table-tender" [formGroup]="filterForm">
  <tr class="table-tender__header">
    <th class=" bg-grey" rowspan="3" colspan="2">{{'table-header-bid.number' | translate}}</th>
    <th colspan="7" class="text-center">{{'table-header-bid.tender-data' | translate}}</th>
    <th rowspan="3" class=" bg-grey vertical">{{'table-header-bid.end-time' | translate}} <div class="grey-line"></div> {{'table-header-bid.time-left' | translate}}</th>
    <th rowspan="3" class="bg-grey vertical">{{'table-header-bid.measurement' | translate}}</th>
    <th colspan="3" class="text-center">{{'table-header-bid.current-value' | translate}}</th>
    <th colspan="3" class="text-center ">{{'table-header-bid.enter-bid' | translate}}</th>
    <td rowspan="3" class="bg-grey vertical">{{'table-header-bid.comments' | translate}}</td>
  </tr>
  <tr class="table-tender__header table-tender__header--bg-none">
    <td rowspan="2" class="bg-grey padd-right-for-icon " [class.active-filter-cell]="filterState.countryFrom">
      <div class="table-filete-select">
        <ng-select placeholder="{{'table-header-bid.country-loading' | translate}}" [multiple]="true" [searchable]="false" formControlName="countryFrom"
          class="table-filter">
          <ng-option *ngFor="let item of options.countriesFrom;let i = index" [value]="item.iso">{{item.name}}
          </ng-option>
        </ng-select>
      </div>
    </td>
    <td rowspan="2" class="bg-grey  padd-right-for-icon" [class.active-filter-cell]="filterState.cityFrom">
      <div class="table-filete-select">
        <ng-select placeholder="{{'table-header-bid.city-loading' | translate}}" [multiple]="true" [searchable]="false" formControlName="cityFrom"
          class="table-filter">
          <ng-option *ngFor="let item of options.citiesFrom;let i = index" [value]="item.name">{{item.name}}
          </ng-option>
        </ng-select>
      </div>
    </td>
    <td rowspan="2" class="bg-grey  padd-right-for-icon" [class.active-filter-cell]="filterState.countryTo">
      <div class="table-filete-select">
        <ng-select placeholder="{{'table-header-bid.country-unloading' | translate}}" [multiple]="true" [searchable]="false" formControlName="countryTo"
          class="table-filter">
          <ng-option *ngFor="let item of options.countriesTo;let i = index" [value]="item.iso">{{item.name}}
          </ng-option>
        </ng-select>
      </div>
    </td>
    <td rowspan="2" class="bg-grey padd-right-for-icon" [class.active-filter-cell]="filterState.cityTo">
      <div class="table-filete-select">
        <ng-select placeholder="{{'table-header-bid.city-unloading' | translate}}" [multiple]="true" [searchable]="false" formControlName="cityTo"
          class="table-filter">
          <ng-option *ngFor="let item of options.citiesTo;let i = index" [value]="item.name">{{item.name}}
          </ng-option>
        </ng-select>
      </div>
    </td>
    <td rowspan="2" class=" bg-grey vertical">{{'table-header-bid.beginning-period' | translate}} <br /> {{'table-header-bid.end-period' | translate}}</td>
    <td rowspan="2" class="bg-grey vertical">{{'table-header-bid.number-cars' | translate}}</td>
    <td rowspan="2" class="bg-grey">{{'table-header-bid.periodicity' | translate}}</td>
    <td rowspan="2" class="bg-grey vertical">{{'table-header-bid.my-price' | translate}}</td>
    <td rowspan="2" class="bg-grey vertical">{{'table-header-bid.my-number-cars' | translate}}</td>
    <td class="bg-grey">{{'table-header-bid.leading-price' | translate}}</td>
    <td rowspan="2" class="bg-grey vertical">{{'table-header-bid.bid' | translate}}</td>
    <td rowspan="2" class="bg-grey vertical">{{'table-header-bid.new-price' | translate}}</td>
    <td rowspan="2" class="bg-grey vertical">{{'table-header-bid.new-number-cars' | translate}}</td>
  </tr>
  <tr class="table-tender__header table-tender__header--bg-none">
    <td class="bg-grey">{{'table-header-bid.price' | translate}}</td>
  </tr>

  <app-contract-routes-row style="display: table-row-group;" *ngFor="let item of current" [bid]="item">
  </app-contract-routes-row>

</table>
