@import "~saturn-datepicker/bundle.css";

@font-face {
    font-family: DaxlinePro-Regular; /* Имя шрифта */
    src: url("fonts/DaxlinePro-Regular.ttf") format("truetype"); /* Путь к файлу со шрифтом */
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: DaxlinePro-Medium; /* Имя шрифта */
    src: url("fonts/DaxlinePro-Medium.ttf") format("truetype"); /* Путь к файлу со шрифтом */
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: DaxlinePro-Bold; /* Имя шрифта */
    src: url("fonts/DaxlinePro-Bold.ttf") format("truetype"); /* Путь к файлу со шрифтом */
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: DaxlinePro-Light; /* Имя шрифта */
    src: url("fonts/DaxlinePro-Light.ttf") format("truetype"); /* Путь к файлу со шрифтом */
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: Arial-Bold; /* Имя шрифта */
    src: url("fonts/arialbd.ttf") format("truetype"); /* Путь к файлу со шрифтом */
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: Arial; /* Имя шрифта */
    src: url("fonts/Arial.ttf") format("truetype"); /* Путь к файлу со шрифтом */
    font-style: normal;
    font-weight: normal;
}
body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    color: #636b70;
}
ul,
li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    transition: 0.3s all;
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        color: #000;
        outline: none;
    }
}
button,
input {
    outline: none;
    border: none;
}
.header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 15px;
    background: #fff;
    box-shadow: 0 0 33px -15px rgba(0, 0, 0, 0.5);
}
.logo {
    float: left;
    width: 156px;
}
.bg-orange {
    background: #f08400 !important;
    td {
        background: #f08400 !important;
    }
}
.bg-blue {
    background: #00a7e3 !important;
    td {
        background: #00a7e3 !important;
    }
}
.bg-red {
    background-color: #ff5d5d !important;
    color: #fff !important;
}
.bg-white {
    background: #fff !important;
}
.border {
    border: 1px solid #e2e2e2 !important;
    background-color: transparent !important;
    border-right: 0;
    border-bottom: 0;
    padding: 10px 0 !important;
    padding-top: 11px !important;
}
.sub-table {
    width: calc(100% - 2px);
    cursor: pointer;
}
.td-full-height {
    padding: 0 !important;
    border-right: 0 !important;
    border-bottom: 0 !important;
    .border-white-field {
        padding-bottom: 0 !important;
        padding-top: 0 !important;
        padding: 0 !important;
        .common-input {
            width: 100%;
            color: #636b70;
            padding-bottom: 20px !important;
            padding-top: 20px !important;
            border: 1px solid transparent;
            &__wrong-value {
                border: 1px solid #ff5d5d;
            }
            &__correct-value {
                border: 1px solid #a4b700;
            }
            &:focus {
                border: 1px solid #00a7e3;
            }
        }
    }
    .min-step-field {
        padding-bottom: 0 !important;
        padding-top: 0 !important;
        padding: 0 !important;
        .common-input {
            width: 100%;
            color: #636b70;
            padding-bottom: 20px !important;
            padding-top: 20px !important;
            border: 2px solid transparent;
        }
        &__border-colored {
            .common-input {
                border: 1px solid #a4b700;
            }
        }
    }
}
.ready-for-send {
    cursor: pointer;
    .sub-table td {
        background-color: #00a7e3 !important;
        svg path {
            fill: white;
        }
        .common-input {
            color: #fff;
        }
    }
    &__big {
        .sub-table td {
            background-color: #00a7e3 !important;
            svg {
                position: relative;
                top: -8px;
                transform: scale(1.5);
                left: 4px;
                path {
                    fill: white;
                }
            }
            .common-input {
                display: none;
            }
        }
    }
}

.common-input {
    background-color: transparent;
    border: none;
    width: 65px;
    font-size: 16px;
    color: #e2e2e2;
    border-width: 2px;
}
.table-tender__active {
    .td-plus-open {
        background-color: #ffdc00 !important;
        color: #636b70;
    }
    .bg-white {
        background: #fff !important;
    }
    .border {
        border: 1px solid #e2e2e2 !important;
        background-color: transparent !important;
        border-right: 0;
        border-bottom: 0;
        padding: 10px 0 !important;
        padding-top: 11px !important;
    }
    .sub-table {
        width: calc(100% - 2px);
        cursor: pointer;
    }
    .td-full-height {
        padding: 0 !important;
        border-right: 0 !important;
        border-bottom: 0 !important;
        .border-white-field {
            padding-bottom: 0 !important;
            padding-top: 0 !important;
            padding: 0 !important;
            .common-input {
                width: 100%;
                color: #636b70;
                padding-bottom: 20px !important;
                padding-top: 20px !important;
                border: 1px solid transparent;
                &__wrong-value {
                    border: 1px solid #ff5d5d;
                }
                &__correct-value {
                    border: 1px solid #a4b700;
                }
                &:focus {
                    border: 1px solid #00a7e3;
                }
            }
        }
        .min-step-field {
            padding-bottom: 0 !important;
            padding-top: 0 !important;
            padding: 0 !important;
            border-right: 2px solid #fff !important;
            border-bottom: 2px solid #fff !important;
            .common-input {
                width: 100%;
                color: #fff;
                padding-bottom: 20px !important;
                padding-top: 20px !important;
                border: 2px solid transparent;
            }
            &__border-colored {
                .common-input {
                    border: 1px solid #a4b700;
                }
            }
        }
    }
    .ready-for-send {
        cursor: pointer;

        .sub-table td {
            background-color: #00a7e3 !important;
            svg path {
                fill: white;
            }
            .common-input {
                color: #fff;
            }
        }
    }

    .common-input {
        background-color: transparent;
        border: none;
        width: 65px;
        font-size: 16px;
        color: #e2e2e2;
        border-width: 2px;
    }
}
.td-border-top-left {
    border-top-left-radius: 8px;
}
.td-border-top-right {
    border-top-right-radius: 8px;
}
.td-border-bottom-right {
    border-bottom-right-radius: 8px;
}
.td-border-bottom-left {
    border-bottom-left-radius: 8px;
}
.light-row.table-tender__common-row {
    td {
        background: #f1f1f1 !important;
    }
}
.dark-row.table-tender__common-row {
    td {
        background: #e2e2e2 !important;
    }
}
.small-text {
    margin-left: 20px;
    font-size: 12px;
    margin-bottom: 12px;
}
.menu {
    float: right;
    &__list {
        padding-left: 10px;
        padding-right: 10px;
        display: inline-block;
        li {
            display: inline-block;
            position: relative;
            padding-bottom: 13px;
            padding-top: 5px;
            margin-right: 18px;
            margin-left: 18px;
            transition: 0.3s all;
            border-bottom: 3px solid transparent;
            &.active {
                border-bottom: 3px solid #00a7e3;
            }
            &:hover {
                border-bottom: 3px solid #00a7e3;
                transition: 0.3s all;
            }
        }
        a {
            color: #636b70;
        }
        &__item--color {
            &:hover {
                a {
                    text-shadow: none !important;
                }
            }
            a {
                color: #f08400;
            }
        }
    }
}
.common-button {
    display: inline-block;
    text-align: center;
    color: #fff;
    background-color: #f08400;
    border: 2px solid #f08400;
    border-radius: 5px;
    min-width: 102px;
    height: 34px;
    line-height: 34px;
    &:hover {
        color: #fff;
        background-color: rgb(241, 145, 28);
    }
}
.enter-button {
    margin: 0 35px;
}
.exit-button {
    color: #f08400;
    background: transparent;
    border-color: transparent;
    &:hover {
        background-color: transparent;
        color: rgb(241, 145, 28);
        text-decoration: underline;
    }
}
.lang-button {
  display: inline-block;
  text-align: center;
  width: 34px;
  height: 34px;
  line-height: 30px;
  border: 2px solid #a4b700;
  color: #a4b700;
  border-radius: 5px;
  margin-left: 5px;

  &:hover {
    color: rgb(177, 196, 5);
    border-color: rgb(177, 196, 5);
  }
}
.main {
    padding-top: 85px;
    padding-bottom: 80px;
    &__poster {
        display: flex;
        align-items: center;
        width: 100%;
        height: 240px;
        padding-left: 100px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("assets/bg.png");
        position: relative;
        &::before {
            position: absolute;
            top: -1px;
            left: 75px;
            content: " ";
            display: block;
            width: 82px;
            height: 40px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url("assets/before.png");
        }
    }
    &__poster-text {
        display: inline-block;
        padding: 10px;
        padding-bottom: 4px;
        padding-top: 15px;
        background-color: rgba(99, 107, 112, 0.7);
        border-radius: 5px;
        color: #fff;
        min-width: 325px;
        h1 {
            font-size: 32px;
            font-family: DaxlinePro-Bold;
            margin-top: 12px;
            margin-bottom: 7px;
        }
    }
    &__search {
        padding: 20px 0;
        input {
            display: inline-block;
            float: left;
            border: 1px solid #f1f1f1;
            width: calc(100% - 93px);
            padding: 7px 20px 7px 30px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            &::-webkit-input-placeholder {
                /* Chrome/Opera/Safari */
                color: #ababab;
                font-family: DaxlinePro-Light;
                transition: 0.3s all;
            }
            &::-moz-placeholder {
                /* Firefox 19+ */
                color: #ababab;
                font-family: DaxlinePro-Light;
                transition: 0.3s all;
            }
            &:-ms-input-placeholder {
                /* IE 10+ */
                color: #ababab;
                font-family: DaxlinePro-Light;
                transition: 0.3s all;
            }
            &:-moz-placeholder {
                /* Firefox 18- */
                color: #ababab;
                font-family: DaxlinePro-Light;
                transition: 0.3s all;
            }
            &:focus {
                &::-webkit-input-placeholder {
                    /* Chrome/Opera/Safari */
                    color: transparent;
                }
                &::-moz-placeholder {
                    /* Firefox 19+ */
                    color: transparent;
                }
                &:-ms-input-placeholder {
                    /* IE 10+ */
                    color: transparent;
                }
                &:-moz-placeholder {
                    /* Firefox 18- */
                    color: transparent;
                }
            }
        }
    }
    &__search-icon {
        display: inline-block;
        float: left;
        width: 93px;
        height: 38px;
        background-color: #ffdc00;
        background-image: url("assets/search.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 16px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}
.table-tender {
    width: 100%;
    font-family: Arial;
    color: #636b70;
    border-collapse: separate;
    min-width: 1280px;
    &__export {
        color: #fff;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    &__import {
        color: #fff;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    &__uk {
        color: #fff;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    &__scroll {
        width: 2200px;
    }
    &__inline {
        display: inline-block;
        &-countTitle {
            font-size: 12px;
        }
        &-count {
            font-size: 16px;
        }
    }
    &__inline2 {
        border-left: 2px solid rgba(0, 0, 0, 0.16);
        padding-left: 15px;
    }
    &__flex {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    &__header {
        background-color: #636b70;
        color: #fff;
    }
    &__header--bg-none {
        background-color: transparent;
    }
    &__header--bg-green {
        td {
            background-color: #a4b700;
        }
    }
    td,
    th {
        position: relative;
        font-weight: normal;
        padding: 4px 4px;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
    }
    &__common-row {
        td {
            background-color: #f1f1f1;
        }
        &:nth-child(2n) {
            td {
                background-color: #e2e2e2;
            }
        }
    }
    &__common-row--yellow {
        td {
            background-color: #ffefdb !important;
        }
    }
    &__common-row--orange {
        td {
            background-color: #f08400 !important;
            color: #fff;
        }
    }
}
.export-lable {
    position: relative;
    display: block;
    padding-left: 23px;
    font-size: 15px;
    margin-bottom: 0;
    font-weight: normal;
    &:after {
        position: absolute;
        display: block;
        content: " ";
        width: 13px;
        height: 13px;
        border-radius: 3px;
        background: #fff;
        left: 0;
        top: 46%;
        transform: translateY(-50%);
    }
    &:before {
        position: absolute;
        display: block;
        content: " ";
        width: 9px;
        height: 6px;
        border-bottom: 1px solid #f08400;
        border-left: 1px solid #f08400;
        top: 42%;
        left: 5px;
        transform: rotate(-45deg) translateY(-50%);
        z-index: 1;
        opacity: 0;
        transition: 0.3s all;
    }
}
.import-lable {
    &:before {
        border-color: #a4b700;
    }
}
.uk-lable {
    &:before {
        border-color: #00a7e3;
    }
}
.heder-input-checkbox:checked + label::before {
    opacity: 1;
    transition: 0.3s all;
}
.td-bradiusLeft {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}
.td-bradiusRight {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}
.bg-grey {
    background: #91999e;
}
.arrow-down {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg) translateY(-47%);
    position: absolute;
    right: 12px;
    top: 47%;
    cursor: pointer;
}
.padd-right-for-icon {
    padding-right: 25px !important;
}
.width-32px {
    width: 32px;
}
.width-16 {
    width: 16.666%;
}
.width-14 {
    width: 14.3%;
}
.width-500 {
    width: 500px;
}
.check-input {
    display: none;
}
.check-label {
    position: relative;
    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -44%);
        content: " ";
        display: inline-block;
        width: 16px;
        height: 16px;
        border: 1px solid #636b70;
        border-radius: 3px;
        background-color: #fff;
        transition: 0.3s all;
    }
    &::after {
        position: absolute;
        content: " ";
        opacity: 0;
        top: -5px;
        right: -7px;
        display: inline-block;
        width: 10px;
        height: 7px;
        border-bottom: 1px solid #fff;
        border-left: 1px solid #fff;
        transform: rotate(-45deg);
        transition: 0.3s all;
    }
}
.check-input:checked + label.check-label::after {
    opacity: 1;
}
.check-input:checked + label.check-label::before {
    background-color: #00a7e3;
    border-color: transparent;
}
.td-plus {
    position: relative;
    cursor: pointer;
    span {
        position: absolute;
        font-size: 23px;
        line-height: 20px;
        top: 52%;
        right: 50%;
        transform: translate(50%, -50%);
    }
}
.td-download {
    color: #f08400;
}
.download-icon {
    display: inline-block;
    width: 20px;
    height: 25px;
    background-position: center;
    background-image: url("assets/download-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
    position: relative;
    top: 4px;
}
.download-icon-grey {
    background-image: url("assets/download-file.png");
}
.data-shipping {
    padding-left: 10%;
}
.td-plus-empty {
    span {
        color: #c2c2c2;
    }
}
.table-tender__active {
    td {
        color: #fff;
        background: #636b70 !important;
    }
}
.td-plus-open {
    background: #ffdc00 !important;
    color: #636b70;
}
.td-plus-border-bottom {
    border-bottom-left-radius: 8px;
}
.td-plus-border-bottom.td-plus-open {
    border-radius: 0;
}
.table-open {
    th {
        background: #ffdc00 !important;
    }
    &__item {
        td {
            background: #fff6be !important;
        }
    }
}
.bg-green {
    background: #a4b700 !important ;
    color: #fff !important;
}

.grey-line {
    width: 25px;
    border-bottom: 2px solid #636b70;
    margin-top: 5px;
    margin-bottom: 5px;
}
.vertical-line {
    display: inline-block;
    position: absolute;
    height: 70%;
    border-left: 1px solid #aeaeae;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.rate {
    background: #fff !important;
    padding: 0 !important;
    display: flex;
}
.input-rate {
    border: 1px solid #e2e2e2;
    padding: 4px;
    font-size: 16px;
    width: 100%;
    flex: 1;
    color: #636b70;
}
.rate-finished {
    color: #ababab;
}
.button-rate-send {
    width: 30px;
    flex-basis: 30px;
    margin-left: 3px;
    background: #00a7e3;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("assets/send-button.png");
}
.button-rate-already-send {
    background-color: #a4b700;
    background-image: url("assets/tick.png");
}
.footer {
    position: fixed;
    width: 100%;
    background: #fff;
    bottom: 0;
    left: 0;
    padding: 20px 0;
}
.common-button-send {
    display: inline-block;
    background: #00a7e3;
    color: #fff;
    padding: 8px 25px;
    border-radius: 5px;
}
.main-tender {
    padding-bottom: 80px;
}
.offer-count {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: #636b70;
    text-align: center;
    font-size: 14px;
    position: relative;
    margin-left: 5px;
}
.pagination {
    width: 100%;
    margin-top: 40px;
    border-top: 2px solid #f1f1f1;
    padding: 15px;
    text-align: center;
    &-wrap {
        display: inline-block;
        margin: 0 auto;
    }
    &__button {
        display: inline-block;
        position: relative;
        top: 13px;
        width: 32px;
        height: 32px;
        background: #ffdc00;
        border-radius: 5px;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0 20px;
        transition: 0.3s all;
        &:hover {
            box-shadow: 0 0 5px -2px #000;
        }
    }
    &__prev {
        background-image: url("assets/arrow-point-to-right (1).png");
    }
    &__next {
        background-image: url("assets/arrow-point.png");
    }
    &__number {
        display: inline-block;
        min-width: 32px;
        height: 32px;
        line-height: 29px;
        border: 1px solid transparent;
        border-radius: 5px;
        transition: 0.3s all;
        &:hover {
            border: 1px solid #ffdc00;
            text-shadow: 0 0 0.3px #000, 0 0 0.3px #000;
        }
    }
    &__number-active {
        border: 1px solid #ffdc00;
        text-shadow: 0 0 0.3px #000, 0 0 0.3px #000;
    }
    &__ellipsis {
        display: inline-block;
    }
}
.td-plus-height {
    height: 32px;
}
.poppup-wrap {
    display: block;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.poppup-container {
    position: absolute;
    width: 700px;
    background-color: #fff;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 120px;
}
.poppup-title {
    font-family: Arial-Bold;
    font-size: 28px;
    color: #636b70;
}
.poppup-button {
    display: inline-block;
    padding: 7px 15px;
    border-radius: 5px;
    margin: 10px auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    min-width: 170px;
    text-align: center;
    font-family: Arial-Bold;
    color: #fff;
    background-color: #ffdc00;
}
.calender-icon {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 9px;
    height: 9px;
    background-image: url("assets/calendar-icon.png");
    background-position: center;
    background-repeat: no-repeat;
}
.tender-amount {
    position: absolute;
    top: -10px;
    right: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #ff5d5d;
    color: #fff;
    font-size: 11px;
}
.tender {
    display: flex;
    width: 100%;
    background-color: #fafafa;
    margin-bottom: 3px;
    &__count {
        font-family: Arial, Helvetica, sans-serif;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: #636b70;
        color: #fff;
        font-size: 11px;
        margin: 0 5px;
    }
    &__item {
        width: 25%;
        padding: 5px;
        text-align: center;
        a {
            color: #636b70;
            font-size: 14px;
        }
        &-active {
            background-color: #ff5d5d;
            a {
                color: #fff !important;
            }
            .tender__count {
                background-color: #fff;
                color: #636b70;
            }
        }
        &:first-child {
            border-top-left-radius: 3px;
        }
        &:last-child {
            border-top-right-radius: 3px;
        }
    }
}

.tender-type {
    background-color: #fafafa;
    border: 1px solid #f1f1f1;
    color: #636b70;
    .export-lable {
        display: inline-block;
        max-width: auto;
        margin: 8px 30px;
        &:before {
            border-bottom: 1px solid #fff;
            border-left: 1px solid #fff;
        }
        &:after {
            border: 1px solid #636b70;
        }
    }
    .heder-input-checkbox:checked + label:after {
        background-color: #636b70;
    }
}
.select-all {
    display: inline-block;
    .export-lable {
        display: inline-block;
        max-width: auto;
        margin: 8px 5px;
        &:before {
            border-bottom: 1px solid #fff;
            border-left: 1px solid #fff;
            top: 42%;
            left: 4px;
            transform: rotate(-45deg) translateY(-42%);
        }
        &:after {
            border: 1px solid #636b70;
        }
    }
    .heder-input-checkbox:checked + label:after {
        background-color: #636b70;
    }
}
.vertical {
    vertical-align: bottom;
}
.finished:nth-child(2n) td,
.finished td {
    background-color: #f1f1f1;
    opacity: 0.6;
}
.kolcevue-tender {
    .ready-for-send .sub-table td {
        background-color: #00a7e3 !important;
        padding: 47px 0 !important;
        .common-input {
            display: none;
        }
        svg {
            transform: scale(1.5);
            position: relative;
            top: -10px;
            left: 4px;
        }
    }
    .kolcevue-height {
        .border {
            padding: 44px 0 !important;
        }
    }
    .min-step-height {
        .min-step-field {
            padding: 33px 0 !important;
        }
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1280px;
        padding-left: 0;
        padding-right: 0;
        min-width: 1280 !important;
        max-width: 100%;
    }
}

.table-filter.ng-select {
    position: absolute;
    width: 100%;
    left: 0;
    padding-left: 8px;
    padding-right: 5px;
    color: white;
    top: 0;
    height: 100%;

    .ng-dropdown-panel {
        background: #91999e;
        border-color: white;
        border-style: solid;
        border-width: 1px;
        left: -5px;
        top: 118%;
        padding-left: 0px;
        padding-right: 0px;
        text-overflow: ellipsis;
        word-break: break-word;
        overflow: hidden;
    }
    .ng-has-value {
        color: white;
    }
    .ng-clear-wrapper {
        display: none;
    }
    .ng-value-label {
        position: relative;
        top: 2px;
        line-height: 1;
    }
    .ng-input {
        position: relative;
        top: 2px;
    }
    .ng-select-container {
        height: 100%;
        position: relative;
        padding-right: 12px;
        &::after {
            display: block;
            content: " ";
            width: 8px;
            height: 8px;
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
            -webkit-transform: rotate(45deg) translateY(-50%);
            transform: rotate(45deg) translateY(-50%);
            position: absolute;
            right: 4px;
            top: 45%;
            cursor: pointer;
            pointer-events: none;
        }
    }
    .ng-value {
        text-overflow: unset !important;
        word-wrap: break-word !important;
        white-space: pre-wrap !important;
        overflow: visible !important;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ng-option-label {
        padding-left: 8px;
        padding-right: 8px;
        display: inline-block;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        &:hover {
            background-color: #f1f1f1;
            color: #636b70;
        }
    }
}

.row-flex-none {
    display: block;
}

.overflow-visible {
    overflow: visible !important;
}

.table-tender__active .td-plus-open {
    background: #ffdc00 !important;
    color: #636b70;
}
.ngx-pagination {
    width: 100%;

    .pagination-previous {
        position: relative;
        &::before {
            content: "" !important;
            position: absolute;
            display: block;
            width: 12px;
            height: 12px;
            border-bottom: 2px solid #fff;
            border-left: 2px solid #fff;
            transform: rotate(45deg);
            top: 9px;
            left: 12px;
        }
        a::before {
            content: "" !important;
        }
        &:hover {
            box-shadow: 0 0 5px -2px #000;
        }
        //display: inline-block;
        //position: relative;
        //top: 13px;
        width: 32px;
        height: 32px;
        background: #ffdc00;
        border-radius: 5px !important;
        background-position: 50%;
        background-repeat: no-repeat;
        // margin: 0 20px;
        transition: all 0.3s;
        // background-image: url("assets/arrow-point-to-right\ \(1\).png");
    }

    // .disabled:hover {
    //   background: none;
    //   background-color: #ffdc00 !important;
    //   background-position: 50% !important;
    //   background-repeat: no-repeat !important;
    //   // background-image: url("assets/arrow-point-to-right\ \(1\).png") !important;
    // }

    .current {
        border: 1px solid #ffdc00;
        text-shadow: 0 0 0.3px #000, 0 0 0.3px #000;
        background: none !important;
        color: #000 !important;
    }
    li {
        display: inline-block;
        min-width: 32px;
        height: 32px;
        line-height: 29px;
        border: 1px solid transparent;
        border-radius: 5px;
        transition: all 0.3s;
        &:hover {
            border: 1px solid #ffdc00;
            text-shadow: 0 0 0.3px #000, 0 0 0.3px #000;
        }
        a:hover {
            background: none !important;
        }
    }
    .pagination-next {
        width: 32px;
        height: 32px;
        background: #ffdc00;
        border-radius: 5px !important;
        background-position: 50%;
        background-repeat: no-repeat;
        // margin: 0 20px;
        transition: all 0.3s;
        // background-image: url("assets/arrow-point.png");
        position: relative;
        &::after {
            content: "" !important;
            position: absolute;
            display: block;
            width: 12px;
            height: 12px;
            border-bottom: 2px solid #fff;
            border-left: 2px solid #fff;
            transform: rotate(225deg);
            top: 9px;
            left: 6px;
        }
        a::after {
            content: "" !important;
        }
        &:hover {
            box-shadow: 0 0 5px -2px #000;
        }

        &.disabled {
            &::after {
                left: 0px;
            }
            //   &:hover{
            //     background: none !important;
            //     background-color: #ffdc00 !important;
            //     background-position: 50% !important;
            //     background-repeat: no-repeat !important;
            //     // background-image: url("assets/arrow-point.png") !important;
            //   }
        }
    }
    .pagination-previous a::before,
    .pagination-previous.disabled::before {
        content: "" !important;
        margin: 0 !important;
    }

    .pagination-previous.disabled {
        top: 10px;
        margin-top: 0;
        &:hover {
            background: none !important;
            background-color: #ffdc00 !important;
        }
    }
    .pagination-next.disabled {
        top: 10px;
        margin-top: 0;
        &:hover {
            background: none !important;
            background-color: #ffdc00 !important;
        }
    }
    .pagination-previous {
        margin-top: 10px;
    }
    .pagination-next {
        margin-top: 10px;
    }
}

pagination-controls {
    display: block;
    margin: 0 auto;
}

// CUSTOM STYLES

.list-td {
    padding: 0 !important;
}
.list {
    background: #fff;
    border: 1px solid #e2e2e2;
}
.list-item {
    color: #b4b4b4;
    display: flex;
    overflow: hidden;
    align-items: center;
    transition: 0.3s all;
    padding: 4px 0;
    cursor: pointer;
    border-top: 1px solid #e2e2e2;
    &:first-child {
        border: none;
    }
    span {
        display: inline-block;
        padding-left: 4px;
        width: calc(100% - 25px);
    }
    &:hover {
        background-color: #00a7e3;
        color: #fff;
    }
}
.list-item-is-sent {
    height: 100%;
    &:hover {
        background-color: #a4b700;
        color: #fff;
    }
    .list-send-button {
        background-image: url("assets/tick.png");
        background-position: center;
        background-repeat: no-repeat;
    }
}
.list-send-button {
    display: inline-block;
    width: 16px;
    height: 14px;
    margin-left: 5px;
    margin-right: 4px;
    background-image: url("assets/send-button.png");
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.ng-option-selected .ng-option-label {
    font-weight: bold;
    color: #ffdc00;
}

.ng-value {
    display: none !important;
}

.ng-placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    //justify-content: center;
    color: #fff;
}

.ng-dropdown-panel {
    min-width: 100% !important;
    width: auto !important;
}
.multiply-row {
    height: 100%;
    width: 100%;
}
.single-row {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.table-tender__header th {
    background-color: #636b70;
}
.table-tender__header th.bg-grey {
    background-color: #91999e;
}
.vertical-line-wrap {
    position: relative;
    width: 100%;
    padding-right: 5px;
}

.time-panel {
    display: flex;
}
.left-group {
    float: left;
}
.right-group {
    float: right;
    margin-left: auto;
}

.time-panel h2 {
  color: #DE8703;
  font: 20px/28px Helvetica, Arial, sans-serif;
  margin: -10px 0 0 0;
}
// html,
// body {
//     height: 100%;
// }
// body {
//     margin: 0;
//     font-family: Roboto, "Helvetica Neue", sans-serif;
// }
// html,
// body {
//     height: 100%;
// }
// body {
//     margin: 0;
//     font-family: Roboto, "Helvetica Neue", sans-serif;
// }
.mat-button-ripple-round {
  display: none !important;
}

.mat-button-focus-overlay {
    display: none !important;
}

.mat-datepicker-toggle-default-icon {
    display: none;
}

.mat-datepicker-toggle .mat-icon-button {
    background-image: url("assets/calendar-icon.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 9px !important;
    height: 9px !important;
    border-radius: 0 !important;
}

.details-toggle {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.unload-date-calendar {
    float: right;
    position: absolute;
    top: 35%;
    right: 8px;
    transform: translateY(-50%);
}
.unauthorized-table-filter {
    min-width: 125px !important;
    position: relative;
}

.unauthorized-table-filter {
    height: 31px;
}
.mat-calendar-cell-semi-selected {
    background-color: #fff6c1 !important;
}

.mat-calendar-body-selected {
    background-color: #ffdc00 !important;
}

.mat-calendar-body-cell.mat-calendar-body-end-range {
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
    background-color: #fff6c1 !important;
}
.mat-calendar-body-cell.mat-calendar-body-begin-range {
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
    background-color: #fff6c1 !important;
}

.table-filete-select {
    min-width: 65px;
    width: 65px;

    .table-filter.ng-select .ng-dropdown-panel {
        top: 100%;
        left: -1px;
    }
}

.cdk-overlay-container {
    z-index: 10001;
}

.ng-placeholder {
    width: 90% !important;
}

.common-table-wrap .export-lable {
    margin-left: 20px;
}
.common-table-wrap .export-lable:after {
    border: 1px solid #636b70;
}
.common-table-wrap .export-lable::before {
    border-color: #fff;
    top: 36% !important;
}

.common-table-wrap .tender-type .heder-input-checkbox:checked + label:after {
    background-color: #636b70;
}

.common-table-wrap .table-tender__export .export-lable:before {
    border-color: #f08400;
}

.common-table-wrap .table-tender__export .export-lable:after {
    border: none;
}

.common-table-wrap .table-tender__import .export-lable:before {
    border-color: #a4b700;
}

.common-table-wrap .table-tender__import .export-lable:after {
    border: none;
}

.common-table-wrap .table-tender__uk .export-lable:before {
    border-color: #00a7e3;
}

.common-table-wrap .table-tender__uk .export-lable:after {
    border: none;
}

.finished {
    pointer-events: none;
}

.full-opacity {
    opacity: 1 !important;
}

.active-filter-cell {
    background-color: #a8aeb2;
    border-bottom: solid 5px #ffdc00 !important;
}

.cursor-pointer:hover {
    cursor: pointer;
}

// .alerts-row {
//     td {
//         background-color: none;
//         animation: blink 1s;
//         animation-iteration-count: 3;
//     }
// }

// @keyframes blink {
//     0% {
//         background-color: #ff5d5d;
//     }
//     100% {
//         background-color: inherit;
//     }
// }

.finished {
    .common-input__correct-value {
        border: none !important;
    }
    .common-input__wrong-value {
        border: none !important;
    }
}

.version {
    display: flex;
    justify-content: flex-end;
}
