<tr style="vertical-align: middle;" class="table-tender__common-row" [class.finished]="bid.isFinished || !isEnabled"
  [class.alerts-row]="bid.failedToSubmit" [class.table-tender__active]="IsOpened">
  <td class="td-bradiusLeft text-center font-size width-32px td-plus" (click)="toggleOpened($event)"
    [class.td-plus-open]="IsOpened">
    <span>{{ IsOpened ? '-' : '+'}}</span>
  </td>
  <td>{{bid.number}}</td>
  <td>{{bid.countryFrom}}</td>
  <td>{{bid.cityFrom}}</td>
  <td>{{bid.countryTo}}</td>
  <td>{{bid.cityTo}}</td>
  <td>{{getMonth(bid.loadingFrom)}} <br />
    {{getMonth(bid.unloadDate)}}</td>
  <td>{{bid.tenderEndTime | date: 'h:mm'}}
    <hr style="border-color: #AEAEAE; margin-top: 5px; margin-bottom: 5px; width: 20px; margin-left: 0;">
    <ng-container *ngIf="TimeToEnd else zeroTime">
      {{TimeToEnd | date:'HH:mm:ss':'UTC'}}
    </ng-container>
    <ng-template #zeroTime>
      00:00:00
    </ng-template>
  </td>
  <td>{{bid.currency}}</td>
  <td [class.bg-green]="areMyPriceValid" [class.color-white]="areMyPriceValid">{{bid.myPrice || '--'}}</td>
  <td>{{bid.price || '--'}}</td>
  <td class="bg-white hover-effect td-full-height" [class.ready-for-send]="IsSenderValid">
    <app-price-sender [myPrice]="bid.myPrice" [isReduction]="bid.isReduction" [enteredPrice]="newPrice"
      [price]="bid.price" [step]="bid.priceStep" (onBidSubmit)="bidSubmitted($event)"></app-price-sender>
  </td>
  <td class="bg-white td-full-height">
    <table class="sub-table text-center">
      <tr>
        <td class="border border-white-field">
          <input class="common-input text-center" [OnlyNumber]="true" [(ngModel)]="newPrice" value="" placeholder="0"
            type="text" [class.common-input__wrong-value]="!IsPriceValid"
            [class.common-input__correct-value]="IsPriceValid && newPrice > 0"> <br />
        </td>
      </tr>
    </table>
  </td>
  <td class="bg-white td-full-height">
    <table class="sub-table text-center">
      <tr>
        <td class="border border-white-field">
          <input class="common-input text-center"
            [class.common-input__correct-value]="newPrice > 0 && bid.price - bid.priceStep >= newPrice"
            [class.common-input__wrong-value]="(bid.price - bid.priceStep) < newPrice || newPrice <= 0" readonly
            [value]="bid.priceStep" type="text"> <br />
        </td>
      </tr>
    </table>
  </td>
  <td>{{bid.paymentPostponement}}</td>
  <td *ngIf="!bid.isFinished" class="bg-white td-full-height">
    <table class="sub-table text-center">
      <tr>
        <td class="border border-white-field">
          <input class="common-input text-center" [(ngModel)]="comment" type="text"> <br />
        </td>
      </tr>
    </table>
  </td>
  <td *ngIf="bid.isFinished" class="full-opacity">{{bid.isFinished ? bid.status : ''}}</td>
</tr>
<tr *ngIf="IsOpened && isEnabled" [class.finished]="bid.isFinished" class="table-open">
  <th class="text-center" colspan="4">{{'table-body.production' | translate}}</th>
  <th class="text-center" colspan="2">{{'table-body.transport' | translate}}</th>
  <th class="text-center" colspan="8">{{'table-body.information' | translate}}</th>
  <th class="text-center" colspan="2">{{'table-body.files' | translate}}</th>
</tr>
<tr *ngIf="IsOpened && isEnabled" class="table-open__item">
  <td class="text-center" colspan="4">{{bid.cargoType}}</td>
  <td class="text-center" colspan="2">{{bid.transportType}}</td>
  <td class="text-center" colspan="8">{{bid.additionalInfo}}</td>
  <td class="text-center" colspan="2"><a href="#" style="color: #636B70;"><span
        class="download-icon download-icon-grey"></span>{{'table-body.download' | translate}}</a></td>
</tr>
