<div class="row row-flex-none">
  <div class="col-xs-12">
    <div class="main__poster">
      <div class="main__poster-text">
        <h1>{{'banner.attention' | translate}}</h1>
        <p>{{'banner.title1' | translate}}</p>
        <p>{{'banner.title2' | translate}}</p>
        <p>{{'banner.title3' | translate}}</p>
      </div>
    </div>
    <div class="main__search clearfix">
      <!-- <input type="text" placeholder="Поиск тендеров">
      <a class="main__search-icon" href="#"></a> -->
    </div>
    <table *ngIf="!isLoading" [formGroup]="form" class="table-tender">

      <tr class="table-tender__header">
        <th rowspan="2" colspan="2" class="td-bradiusLeft">{{'table-header.number' | translate}}</th>
        <th colspan="7" class="td-bradiusRight text-center">{{'table-header.shipping-data' | translate}}</th>
      </tr>
      <tr class="table-tender__header table-tender__header--bg-none">
        <td class="bg-grey width-14  " [class.active-filter-cell]="filterState.countryFrom">
          <div class="unauthorized-table-filter">
            <ng-select placeholder="{{'table-header.country-loading' | translate}}" [multiple]="true"
              [searchable]="false" formControlName="countryFrom" class="table-filter">
              <ng-option *ngFor="let item of countriesFrom;let i = index" [value]="item.iso">{{item.name}}
              </ng-option>
            </ng-select>
          </div>
        </td>
        <td class="bg-grey width-14 " [class.active-filter-cell]="filterState.cityFrom">
          <div class="unauthorized-table-filter">
            <ng-select placeholder="{{'table-header.city-loading' | translate}}" [multiple]="true" [searchable]="false"
              formControlName="cityFrom" class="table-filter">
              <ng-option *ngFor="let item of citiesFrom;let i = index" [value]="item.name">{{item.name}}
              </ng-option>
            </ng-select>
          </div>
        </td>
        <td class="bg-grey width-14 " [class.active-filter-cell]="filterState.countryTo">
          <div class="unauthorized-table-filter">
            <ng-select placeholder="{{'table-header.country-unloading' | translate}}" [multiple]="true"
              [searchable]="false" formControlName="countryTo" class="table-filter">
              <ng-option *ngFor="let item of countriesTo;let i = index" [value]="item.iso">{{item.name}}
              </ng-option>
            </ng-select>
          </div>
        </td>
        <td class="bg-grey width-14 " [class.active-filter-cell]="filterState.cityTo">
          <div class="unauthorized-table-filter">
            <ng-select placeholder="{{'table-header.city-unloading' | translate}}" [multiple]="true"
              [searchable]="false" formControlName="cityTo" class="table-filter">
              <ng-option *ngFor="let item of citiesTo;let i = index" [value]="item.name">{{item.name}}
              </ng-option>
            </ng-select>
          </div>
        </td>
        <td class=" bg-grey ">{{'table-header.loading-date' | translate}}</td>
        <td class=" bg-grey width-14 " [class.active-filter-cell]="filterState.unloadDate">
          {{'table-header.unloading-date' | translate}}
          <span class="unload-date-calendar">
            <input style="width: 0px;height: 0px;opacity: 0;" placeholder="Choose a date" [satDatepicker]="picker"
              formControlName="dates">
            <sat-datepicker #picker [calendarFooterComponent]="calendarFooter" [rangeMode]="selectCalendarRange"
              [closeAfterSelection]="true">
            </sat-datepicker>
            <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
          </span>
        </td>
        <td class="td-bradiusRight bg-grey ">{{'table-header.end-tender' | translate}}</td>
      </tr>

      <div *ngFor="let item of tendersList;let i = index" style="width: 100%;display: table-row-group;"
        [countryName]="item.countryTo" [tendersAmount]="getCountryTendersAmount(item.countryTo)" [tender]="item"
        [renderHeader]="allowRenderHeader(item.unicalNumber)" app-unauthorized-tender-group>

      </div>


    </table>
    <!-- <div class="pagination">

      <pagination-controls maxSize="10" previousLabel="" nextLabel="" (pageChange)="page = $event">
      </pagination-controls>

    </div> -->
  </div>
</div>
