<tr *ngIf="renderHeader" class="table-tender__header table-tender__header--bg-none table-tender__header--bg-green ">
    <td class="td-border-top-left" colspan="2">{{countryName}}</td>
    
    <td class="td-border-top-right" colspan="51"></td>
</tr>
<tr class="table-tender__common-row" [class.table-tender__active]="IsOpened">
    <td [class.td-plus-open]="IsOpened" class=" text-center font-size width-32px td-plus"><span class="details-toggle"
            (click)="toggleMoreInfo($event)">{{ShowMoreSign}}</span></td>
    <td>{{tender.number}}</td>
    <td>{{tender.countryFrom}}</td>
    <td>{{tender.cityFrom}}</td>
    <td>{{tender.countryTo}}</td>
    <td>{{tender.cityTo}}</td>
    <td>{{getMonth(tender.loadingFrom)}}</td>
    <td class="">{{getMonth(tender.unloadingDate)}}</td>
    <td>{{tender.endTime | date:'HH:mm'}}</td>

</tr>
<tr *ngIf="IsOpened" class="table-open">
    <th class="td-bradiusLeft text-center" colspan="3">Продукция</th>
    <th class="text-center" colspan="2">Вид транспорта</th>
    <th class="text-center">Пункт погрузки</th>
    <th class="text-center">Время погрузки</th>
    <th class="text-center">Доп.инф-ция</th>
    <th class="td-bradiusRight text-center">Файлы</th>
</tr>
<tr *ngIf="IsOpened" class="table-open__item">
    <td class="text-center" colspan="3">{{tender.cargoType}}</td>
    <td class="text-center" colspan="2">{{tender.transportType}}</td>
    <td class="text-center">{{tender.cityFrom}}</td>
    <td class="text-center">{{LoadingTime}}</td>
    <td class="text-center">{{tender.transportType}} {{tender.customerComment}}</td>
    <td class="text-center"><span class="download-icon download-icon-grey"></span>Скачать</td>
</tr>