<header class="container-fluid header">
  <div class="row">
    <div class="container">
      <div style="width: 100%;" class="row">
        <div style="width: 100%;" class="col-xs-12 clearfix">
          <div class="logo">
            <a href="{{mainUrl}}">
              <img src="../../assets/logo.png" alt="">
            </a>
          </div>
          <nav class="menu">
            <ul class="menu__list">
              <li class="active">
                <a href="/">
                  {{'header.tenders' | translate}}
                  <span class="tender-amount" *ngIf="newTendersAmount > 0">{{newTendersAmount}}</span>
                </a>
              </li>
              <li><a href="{{mainUrl}}documentation">{{'header.documentation' | translate}}</a></li>
              <li><a href="{{mainUrl}}feedback">{{'header.feedback' | translate}}</a></li>
              <!--<li *ngIf="!IsAuthenticated">
      <input type="email" [(ngModel)]="email"
             placeholder="Email" /><button type="button"
                                           (click)="processLogin($event)">
        Войти
      </button>
    </li>-->


              <li *ngIf="IsAuthenticated"><a routerLink="/" (click)="logOut($event)">{{'header.exit' | translate}}</a>
              </li>
            </ul>
            <a type="button" class="lang-button" href="#" (click)="localization('ua')">UA</a>
            <a type="button" class="lang-button" href="#" (click)="localization('en')">EN</a>
            <a type="button" class="lang-button" href="#" (click)="localization('ru')">RU</a>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
