<table class="table-tender kolcevue-tender" [formGroup]="filterForm">
  <tr class="table-tender__header">
    <th class=" bg-grey" rowspan="2" colspan="2">{{'table-header-bid.number' | translate}}</th>
    <th colspan="5" class="text-center">{{'table-header-bid.tender-data' | translate}}</th>
    <th rowspan="2" class=" bg-grey vertical">{{'table-header-bid.end-time' | translate}} <div class="grey-line"></div> {{'table-header-bid.time-left' | translate}}</th>
    <th rowspan="2" class="bg-grey vertical">{{'table-header-bid.measurement' | translate}}</th>
    <th colspan="2" class="text-center">{{'table-header-bid.current-value' | translate}}</th>
    <th colspan="2" class="text-center ">{{'table-header-bid.enter-bid' | translate}}</th>
    <td rowspan="2" class="bg-grey vertical" style="width: 4%;">{{'table-header-bid.rate-step' | translate}}</td>
    <td rowspan="2" class="bg-grey vertical text-center width-14">{{'table-header-bid.comments' | translate}}</td>
  </tr>
  <tr class="table-tender__header table-tender__header--bg-none">
    <td class="bg-grey padd-right-for-icon " [class.active-filter-cell]="filterState.countryFrom">
      <div class="table-filete-select">
        <ng-select placeholder="{{'table-header-bid.country-loading' | translate}}" [multiple]="true" [searchable]="false" formControlName="countryFrom"
          class="table-filter">
          <ng-option *ngFor="let item of options.countriesFrom;let i = index" [value]="item.iso">{{item.name}}
          </ng-option>
        </ng-select>
      </div>
    </td>
    <td class="bg-grey  padd-right-for-icon" [class.active-filter-cell]="filterState.cityFrom">
      <div class="table-filete-select">
        <ng-select placeholder="{{'table-header-bid.city-loading' | translate}}" [multiple]="true" [searchable]="false" formControlName="cityFrom"
          class="table-filter">
          <ng-option *ngFor="let item of options.citiesFrom;let i = index" [value]="item.name">{{item.name}}
          </ng-option>
        </ng-select>
      </div>
    </td>
    <td class="bg-grey  padd-right-for-icon" [class.active-filter-cell]="filterState.countryTo">
      <div class="table-filete-select">
        <ng-select placeholder="{{'table-header-bid.country-unloading' | translate}}" [multiple]="true" [searchable]="false" formControlName="countryTo"
          class="table-filter">
          <ng-option *ngFor="let item of options.countriesTo;let i = index" [value]="item.iso">{{item.name}}
          </ng-option>
        </ng-select>
      </div>
    </td>
    <td class="bg-grey padd-right-for-icon" [class.active-filter-cell]="filterState.cityTo">
      <div class="table-filete-select">
        <ng-select placeholder="{{'table-header-bid.city-unloading' | translate}}" [multiple]="true" [searchable]="false" formControlName="cityTo"
          class="table-filter">
          <ng-option *ngFor="let item of options.citiesTo;let i = index" [value]="item.name">{{item.name}}
          </ng-option>
        </ng-select>
      </div>
    </td>
    <td class=" bg-grey padd-right-for-icon" [class.active-filter-cell]="filterState.dates">{{'table-header-bid.loading-date' | translate}} <br /> {{'table-header-bid.unloading-date' | translate}}<span class="unload-date-calendar">
        <input style="width: 0px;height: 0px;opacity: 0;" placeholder="Choose a date" [satDatepicker]="picker"
          formControlName="dates">
        <sat-datepicker #picker [calendarFooterComponent]="calendarFooter" [rangeMode]="true" [closeAfterSelection]="true">
        </sat-datepicker>
        <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
      </span>
    </td>
    <td class="bg-grey vertical">{{'table-header-bid.my-price' | translate}}</td>
    <td class="bg-grey vertical">{{'table-header-bid.price' | translate}}</td>
    <td class="bg-grey vertical">{{'table-header-bid.bid' | translate}}</td>
    <td class="bg-grey vertical">{{'table-header-bid.new-price' | translate}}</td>
  </tr>
  <app-circle-routes-row style="display: table-row-group;" *ngFor="let item of pairs" [bid]="item.first"
    [backBid]="item.second">
  </app-circle-routes-row>
</table>
