.reset {
    font-size: 16px;
    font-family: Arial;
    color: #00a7e3;
    float: left;
    text-align: center;
    width: 100%;
    padding: 10px;
}

.reset:hover{
    cursor: pointer;
    text-decoration: underline;
}
