<li *ngIf="!showFinalPrice" class="list-item" [class.disabled]="enteredPrice == 0  " (click)="submitBid($event,first)">
    <span>{{first}}</span>
    <a class="list-send-button" href="#"></a></li>
<li *ngIf="!showFinalPrice" class="list-item" [class.disabled]="enteredPrice == 0  " (click)="submitBid($event,second)">
    <span>{{second}}</span>
    <a class="list-send-button" href="#"></a></li>
<li style="height: 100%;" *ngIf="showFinalPrice" class="list-item" (click)="submitBid($event,enteredPrice)"
    [class.disabled]="enteredPrice == 0 || enteredPrice > price">
    <span>{{finalPrice == 0 ? ' ' : finalPrice}}</span>
    <a *ngIf="enteredPrice" class="list-send-button" href="#"></a></li>