<div class="row row-flex-none">
  <div class="col-xs-12">
    <div class="main__poster">
      <div class="main__poster-text">
        <h1>{{'banner.attention' | translate}}</h1>
        <p>{{'banner.title1' | translate}}</p>
        <p>{{'banner.title2' | translate}}</p>
        <p>{{'banner.title3' | translate}}</p>
      </div>
    </div>
    <div class="main__search clearfix">
      <!-- <input type="text" placeholder="Поиск тендеров">
      <a class="main__search-icon" href="#"></a> -->
    </div>
    <div class="common-table-wrap" *ngIf="!isLoading" [formGroup]="form">
      <div class="clearfix row" style="position: sticky; top: 60px; z-index: 10000;margin-right: 0;margin-left: 0;">
        <div class="col-sm-4 table-tender__export bg-orange td-border-top-left">
          <div class="table-tender__flex">
            <div class="table-tender__inline">
              <div class="small-text">{{'direction.direction' | translate}}</div>
              <input class="heder-input-checkbox" style="display: none;" type="checkbox" name="" id="export" formControlName="export">
              <label class="export-lable" for="export">{{'direction.export' | translate}}</label>
            </div>
            <div class="table-tender__inline table-tender__inline2 text-right">
              <p class="table-tender__inline-countTitle">{{'direction.quantity' | translate}}</p>
              <p class="table-tender__inline-count">{{getTendersByDirectionAmount(1)}}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 table-tender__import bg-green">
          <div class="table-tender__flex">
            <div class="table-tender__inline">
              <div class="small-text">{{'direction.direction' | translate}}</div>
              <input class="heder-input-checkbox" style="display: none;" type="checkbox" name="" id="import"
                     formControlName="import">
              <label class="export-lable import-lable" for="import">{{'direction.import' | translate}}</label>
            </div>
            <div class="table-tender__inline table-tender__inline2 text-right">
              <p class="table-tender__inline-countTitle">{{'direction.quantity' | translate}}</p>
              <p class="table-tender__inline-count">{{getTendersByDirectionAmount(2)}}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 table-tender__uk bg-blue td-border-top-right">
          <div class="table-tender__flex">
            <div class="table-tender__inline">
              <div class="small-text">{{'direction.direction' | translate}}</div>
              <input class="heder-input-checkbox" style="display: none;" type="checkbox" name="" id="uk"
                     formControlName="internal">
              <label class="export-lable uk-lable" for="uk">{{'direction.domestics' | translate}}</label>
            </div>
            <div class="table-tender__inline table-tender__inline2 text-right">
              <p class="table-tender__inline-countTitle">{{'direction.quantity' | translate}}</p>
              <p class="table-tender__inline-count">{{getTendersByDirectionAmount(3)}}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 tender-type"
             style="display: flex; padding: 20px; padding: 10px; background: #fafafa;align-items: center;" colspan="12">
             {{'tender-type.type' | translate}}:
          <input class="heder-input-checkbox" style="display: none;" type="checkbox" name="1" id="once"
                 formControlName="once">
          <label class="export-lable" for="once">{{'tender-type.one-time' | translate}}</label>
          <input class="heder-input-checkbox" style="display: none;" type="checkbox" name="2" id="circle"
                 formControlName="circle">
          <label class="export-lable" for="circle">{{'tender-type.circle' | translate}}</label>
          <input class="heder-input-checkbox" style="display: none;" type="checkbox" name="3" id="group"
                 formControlName="group">
          <label class="export-lable" for="group">{{'tender-type.grouped' | translate}}</label>
          <input class="heder-input-checkbox" style="display: none;" type="checkbox" name="4" id="contact"
                 formControlName="contract">
          <label class="export-lable" for="contact">{{'tender-type.temporarily' | translate}}</label>
        </div>
      </div>
      <table class="table-tender">

        <!-- <tr>
            <td class="tender-type" colspan="12">
              Тип тендера:
              <input class="heder-input-checkbox" formControlName="once" style="display: none;" type="checkbox" name="1"
                id="once">
              <label class="export-lable" for="once">Разовые маршруты</label>
              <input class="heder-input-checkbox" style="display: none; " formControlName="circle" type="checkbox"
                name="2" id="circle">
              <label class="export-lable" for="circle">Кольцевые маршруты</label>
              <input class="heder-input-checkbox" style="display: none;" type="checkbox" formControlName="group"
                name="3" id="group">
              <label class="export-lable" for="group">Сгруппированные маршруты</label>
              <input class="heder-input-checkbox" style="display: none;" type="checkbox" name="4"
                formControlName="contract" id="contract">
              <label class="export-lable" for="contract">Контрактные на период</label>
            </td>
          </tr> -->
        <!-- <tr class="table-tender__header table-tender__header--bg-none">
          <th colspan="2" class="td-border-bottom-left bg-grey">№ ТП или <br />
            № Тендера</th>
          <td class="bg-grey">Кол-во т/с</td>
          <td class="bg-grey">
            <div style="min-width: 125px !important; position: relative; min-height: 60px;">
              <ng-select placeholder="Страна погрузки" [multiple]="true" [searchable]="false"
                formControlName="countryFrom" class="table-filter">
                <ng-option *ngFor="let item of countriesFrom;let i = index" [value]="item.iso">{{item.name}}
                </ng-option>
              </ng-select>
            </div>
          </td>
          <td class="bg-grey">
            <div style="min-width: 125px !important; position: relative; min-height: 60px;">
              <ng-select placeholder="Город погрузки" [multiple]="true" [searchable]="false" formControlName="cityFrom"
                class="table-filter">
                <ng-option *ngFor="let item of citiesFrom;let i = index" [value]="item.name">{{item.name}}
                </ng-option>
              </ng-select>
            </div>

          </td>
          <td class="bg-grey">Дата погрузки </td>
          <td class="bg-grey">Дата прибытия </td>
          <td class="bg-grey">
            <div style="min-width: 125px !important; position: relative; min-height: 60px;">
              <ng-select placeholder="Страна назначения" [multiple]="true" [searchable]="false"
                formControlName="countryTo" class="table-filter">
                <ng-option *ngFor="let item of countriesTo;let i = index" [value]="item.iso">{{item.name}}
                </ng-option>
              </ng-select>
            </div>

          </td>
          <td class="bg-grey">
            <div style="min-width: 125px !important; position: relative; min-height: 60px;">
              <ng-select placeholder="Город назначения" [multiple]="true" [searchable]="false" formControlName="cityTo"
                class="table-filter">
                <ng-option *ngFor="let item of citiesTo;let i = index" [value]="item.name">{{item.name}}
                </ng-option>
              </ng-select>
            </div>

          </td>
          <td class="bg-grey">Продукция</td>
          <td class="bg-grey" style="max-width: 180px;">Дополнительная информация</td>
          <td class="td-border-bottom-right bg-grey">Окончание тендера</td>
        </tr> -->

        <tr class="table-tender__header table-tender__header--bg-none">
          <td class="bg-grey td-bradiusLeft" colspan="2">
            <div class="select-all">
              <input class="heder-input-checkbox" style="display: none;" type="checkbox" name="4" id="select-all"
                     (change)="selectAll($event)" [ngModel]="allSelected" [ngModelOptions]="{standalone: true}">
              <label class="export-lable" for="select-all">{{'table-header.number' | translate}}</label>
            </div>
          </td>
          <td class="bg-grey padd-right-for-icon " [class.active-filter-cell]="filterState.countryFrom">
            <div class="table-filete-select">
              <ng-select placeholder="{{'table-header.country-loading' | translate}}" [multiple]="true" [searchable]="false"
                         formControlName="countryFrom" class="table-filter">
                <ng-option *ngFor="let item of countriesFrom;let i = index" [value]="item.iso">
                  {{item.name}}
                </ng-option>
              </ng-select>
            </div>
          </td>
          <td class="bg-grey  padd-right-for-icon" [class.active-filter-cell]="filterState.cityFrom">
            <div class="table-filete-select">
              <ng-select placeholder="{{'table-header.city-loading' | translate}}" [multiple]="true" [searchable]="false" formControlName="cityFrom"
                         class="table-filter">
                <ng-option *ngFor="let item of citiesFrom;let i = index" [value]="item.name">
                  {{item.name}}
                </ng-option>
              </ng-select>
            </div>
          </td>
          <td class="bg-grey  padd-right-for-icon" [class.active-filter-cell]="filterState.countryTo">
            <div class="table-filete-select">
              <ng-select placeholder="{{'table-header.country-unloading' | translate}}" [multiple]="true" [searchable]="false"
                         formControlName="countryTo" class="table-filter">
                <ng-option *ngFor="let item of countriesTo;let i = index" [value]="item.iso">
                  {{item.name}}
                </ng-option>
              </ng-select>
            </div>
          </td>
          <td class="bg-grey padd-right-for-icon" [class.active-filter-cell]="filterState.cityTo">
            <div class="table-filete-select">
              <ng-select placeholder="{{'table-header.city-unloading' | translate}}" [multiple]="true" [searchable]="false" formControlName="cityTo"
                         class="table-filter">
                <ng-option *ngFor="let item of citiesTo;let i = index" [value]="item.name">
                  {{item.name}}
                </ng-option>
              </ng-select>
            </div>
          </td>
          <td class=" bg-grey width-14 padd-right-for-icon" [class.active-filter-cell]="filterState.dates">
            {{'table-header.loading-date' | translate}} <br /> {{'table-header.unloading-date' | translate}}
            <span class="unload-date-calendar">
              <input style="width: 0px;height: 0px;opacity: 0;" placeholder="Choose a date" [satDatepicker]="picker"
                     formControlName="dates">
              <sat-datepicker #picker [calendarFooterComponent]="calendarFooter" [rangeMode]="true"
                              [closeAfterSelection]="true">
              </sat-datepicker>
              <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
            </span>
          </td>
          <td class=" bg-grey width-16" colspan="3">{{'table-header.production' | translate}}</td>
          <td class="bg-grey width-16">{{'table-header.transport' | translate}}</td>

          <!--<td class="bg-grey padd-right-for-icon" [class.active-filter-cell]="filterState.currency">
    <div class="table-filete-select">
      <ng-select placeholder="Eд.измерения" [multiple]="true" [searchable]="false" formControlName="currency"
                 class="table-filter">
        <ng-option *ngFor="let item of filters.currencies;let i = index" [value]="item">
          {{item}}
        </ng-option>
      </ng-select>
    </div>
  </td>-->
          <td class="td-bradiusRight bg-grey ">{{'table-header.end-tender' | translate}}</td>

        </tr>

        <div *ngFor="let item of tendersList;let i = index" style="width: 100%;display: table-row-group;"
             [countryName]="item.countryTo" [tendersAmount]="getCountryTendersAmount(item.countryTo)" [tender]="item"
             [renderHeader]="allowRenderHeader(item.unicalNumber)" app-authorized-tender-group>

        </div>


      </table>
    </div>
    <!-- <div class="pagination">


      <pagination-controls maxSize="10" previousLabel="" nextLabel="" (pageChange)="page = $event">
      </pagination-controls>

    </div> -->
  </div>
  <div class="version">
    <span>11.1.0.46</span>
  </div>

  <footer *ngIf="checkedRowsAmount > 0" class="text-center footer">
    <a class="common-button-send" href="#" (click)="setBids($event)">
     {{'submit-offer' | translate}}<span class="offer-count">{{checkedRowsAmount}}</span>
    </a>
  </footer>
