@font-face {
    font-family: DaxlinePro-Regular; /* Имя шрифта */
    src: url(../fonts/DaxlinePro-Regular.ttf) format("truetype"); /* Путь к файлу со шрифтом */
    font-style: normal;
    font-weight: normal;
   }
   @font-face {
    font-family: DaxlinePro-Medium; /* Имя шрифта */
    src: url(../fonts/DaxlinePro-Medium.ttf) format("truetype"); /* Путь к файлу со шрифтом */
    font-style: normal;
    font-weight: normal;
   }
   @font-face {
    font-family: DaxlinePro-Bold; /* Имя шрифта */
    src: url(../fonts/DaxlinePro-Bold.ttf) format("truetype"); /* Путь к файлу со шрифтом */
    font-style: normal;
    font-weight: normal;
   }
   @font-face {
    font-family: DaxlinePro-Light; /* Имя шрифта */
    src: url(../fonts/DaxlinePro-Light.ttf) format("truetype"); /* Путь к файлу со шрифтом */
    font-style: normal;
    font-weight: normal;
   }
body{
    font-size: 16px;
    font-family: DaxlinePro-Regular;
    position: relative;
    color: #636B70;
}
ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    transition: 0.3s all;
    &:hover, &:focus, &:active {
        text-decoration: none;
        color: #000;
        outline: none;
    }
}
button, input {
    outline: none;
    border: none;
}
.header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 15px;
    background: #fff;
    box-shadow: 0 0 33px -15px rgba(0, 0, 0, 0.5);
}
.logo {
    float: left;
    width: 156px;
}
.bg-orange {
    background: #F08400 !important;
    td {
        background: #F08400 !important;
    }
}
.bg-blue {
    background: #00A7E3 !important;
    td {
        background: #00A7E3 !important;
    }
}
.td-border-top-left {
    border-top-left-radius: 8px;
}
.td-border-top-right {
    border-top-right-radius: 8px;
}
.td-border-bottom-right {
    border-bottom-right-radius: 8px;
}
.td-border-bottom-left {
    border-bottom-left-radius: 8px;
}
.light-row.table-tender__common-row {
    td {
        background: #F1F1F1 !important;
    }
}
.dark-row.table-tender__common-row {
    td {
        background: #E2E2E2 !important;
    }
}
.small-text {
    margin-left: 20px;
    font-size: 12px;
    margin-bottom: 12px;
}
.menu {
    float: right;
    &__list {
        padding-left: 10px;
        padding-right: 10px;
        display: inline-block;
       li {
           display: inline-block;
           padding-bottom: 13px;
            padding-top: 5px;
            margin-right: 8px;
            margin-left: 8px;
            transition: 0.3s all;
            border-bottom: 3px solid transparent;
            &.active {
                border-bottom: 3px solid #00A7E3; 
            }
            &:hover {
                border-bottom: 3px solid #00A7E3; 
                transition: 0.3s all;
            }
       }
       a {
        color: #636B70;
       }
       &__item--color {
        &:hover {
            a {
                text-shadow: none !important;
            }
        }
        a {
            color: #F08400;
        }
    }
    }
}
.common-button {
    display: inline-block;
    text-align: center;
    color: #fff;
    background-color: #F08400;
    border: 2px solid #F08400;
    border-radius: 5px;
    min-width: 102px;
    height: 34px;
    line-height: 34px;
    &:hover {
        color: #fff;
        background-color: rgb(241, 145, 28);
    }
}
.enter-button {
    margin: 0 35px;
}
.exit-button {
    color: #F08400;
    background: transparent;
    border-color: transparent;
    &:hover {
        background-color: transparent;
        color: rgb(241, 145, 28);
        text-decoration: underline;
    }
}
.lang-button {
    display: inline-block;
    text-align: center;
    width: 34px;
    height: 34px;
    line-height: 34px;
    border: 2px solid #A4B700;
    color: #A4B700;
    border-radius: 5px;
    &:hover {
        color: rgb(177, 196, 5);
        border-color: rgb(177, 196, 5);
    }
}
.main {
    padding-top: 85px;
    padding-bottom: 90px;
    &__poster {
        display: flex;
        align-items:  center;
        width: 100%;
        height: 240px;
        padding-left: 100px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('../img/bg.png');
        &::before {
            position: absolute;
            top: -1px;
            left: 75px;
            content: ' ';
            display: block;
            width: 82px;
            height: 40px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('../img/before.png');
        }
    }
    &__poster-text {
        display: inline-block;
        padding: 10px;
        padding-bottom: 4px;
        padding-top: 15px;
        background-color: rgba(99, 107, 112, 0.7);
        border-radius: 5px;
        color: #fff;
        min-width: 325px;
        h1 {
            font-size: 32px;
            font-family: DaxlinePro-Bold;
            margin-top: 12px;
            margin-bottom: 7px;
        }
    }
    &__search {
        padding: 20px 0;
        input {
            display: inline-block;
            float: left;
            border: 1px solid #F1F1F1;
            width: calc(100% - 93px);
            padding: 7px 20px 7px 30px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: #ABABAB;
                font-family: DaxlinePro-Light;
                transition: 0.3s all;
              }
              &::-moz-placeholder { /* Firefox 19+ */
                color: #ABABAB;
                font-family: DaxlinePro-Light;
                transition: 0.3s all;
              }
              &:-ms-input-placeholder { /* IE 10+ */
                color: #ABABAB;
                font-family: DaxlinePro-Light;
                transition: 0.3s all;
              }
              &:-moz-placeholder { /* Firefox 18- */
                color: #ABABAB;
                font-family: DaxlinePro-Light;
                transition: 0.3s all;
              }
              &:focus {
                &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    color: transparent;
                  }
                  &::-moz-placeholder { /* Firefox 19+ */
                    color: transparent;
                  }
                  &:-ms-input-placeholder { /* IE 10+ */
                    color: transparent;
                  }
                  &:-moz-placeholder { /* Firefox 18- */
                    color: transparent;
                  }
              }
        }
    }
    &__search-icon {
        display: inline-block;
        float: left;
        width: 93px;
        height: 38px;
        background-color: #FFDC00;
        background-image: url('../img/search.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 16px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}
.table-tender {
    width: 100%;
    font-family: DaxlinePro-Regular;
    color: #636B70;
    border-collapse: separate;
    &__export {
        color: #fff;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    &__import {
        color: #fff;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    &__uk {
        color: #fff;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    &__scroll {
        width: 2200px;
    }
    &__inline {
        display: inline-block;
        &-countTitle {
            font-size: 12px;
        }
        &-count {
            font-size: 16px;
        }
    }
    &__inline2 {
        border-left: 2px solid rgba(0, 0, 0, 0.16);
        padding-left: 15px;
    }
    &__flex {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    &__header {
        background-color: #636B70;
        color: #fff;
    }
    &__header--bg-none {
        background-color: transparent;
    }
    &__header--bg-green {
        td {
            background-color: #A4B700;
        }
    }
    td, th {
        position: relative;
        font-weight: normal;
        padding: 4px 4px;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
    }
    &__common-row {
        td {
                background-color: #F1F1F1;
            }
        &:nth-child(2n) {
            td {
                background-color: #E2E2E2;
            }
        }
    }
    &__common-row--yellow {
        td {
            background-color: #FFEFDB !important;
        }
    }
    &__common-row--orange {
        td {
            background-color: #F08400 !important;
            color: #fff;
        }
    }
}
.export-lable {
    position: relative;
    display: block;
    padding-left: 23px;
    font-size: 15px;
    margin-bottom: 0;
    font-weight: normal;
    &:after {
        position: absolute;
        display: block;
        content: ' ';
        width: 13px;
        height: 13px;
        border-radius: 3px;
        background: #fff;
        left: 0;
        top: 46%;
        transform: translateY(-50%);
    }
    &:before {
        position: absolute;
        display: block;
        content: ' ';
        width: 9px;
        height: 6px;
        border-bottom: 1px solid #F08400;
        border-left: 1px solid #F08400;
        top: 5px;
        left: 2px;
        transform: rotate(-45deg);
        z-index: 1;
        opacity: 0;
        transition: 0.3s all;
    }
}
.import-lable {
    &:before  {
        border-color: #A4B700;
    }
}
.uk-lable {
    &:before {
        border-color: #00A7E3;
    }
}
.heder-input-checkbox:checked ~ label::before {
    opacity: 1;
    transition: 0.3s all;
}
.td-bradiusLeft {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}
.td-bradiusRight {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}
.bg-grey {
    background: #91999E;
}
.arrow-down {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    position: absolute;
    right: 12px;
    top: 9px;
    cursor: pointer;
}
.width-32px {
    width: 32px;
}
.width-16 {
    width: 16.666%;
}
.width-14 {
    width: 14.3%;
}
.width-500 {
    width: 500px;
}
.check-input {
    display: none;
}
.check-label {
    position: relative;
    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -44%);
        content: ' ';
        display: inline-block;
        width: 16px;
        height: 16px;
        border: 1px solid #636B70;
        border-radius: 3px;
        background-color: #fff;
        transition: 0.3s all;
    }
    &::after {
        position: absolute;
        content: ' ';
        opacity: 0;
        top: -5px;
        right: -7px;
        display: inline-block;
        width: 10px;
        height: 7px;
        border-bottom: 1px solid #fff;
        border-left: 1px solid #fff;
        transform: rotate(-45deg);
        transition: 0.3s all;
    }
}
.check-input:checked + label.check-label::after {
    opacity: 1;
}
.check-input:checked + label.check-label::before {
    background-color: #00A7E3;
    border-color: transparent;
}
.td-plus {
    position: relative;
    cursor: pointer;
   span {
    position: absolute;
    font-size: 30px;
    line-height: 20px;
    top: 52%;
    right: 50%;
    transform: translate(50%, -50%);
   }
}
.td-download {
    color: #F08400;
}
.download-icon {
    display: inline-block;
    width: 20px;
    height: 25px;
    background-position: center;
    background-image: url('../img/download-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
    position: relative;
    top: 4px;
}
.download-icon-grey {
    background-image: url('../img/download-file.png');
}
.data-shipping {
    padding-left: 10%;
}
.td-plus-empty {
    span {
        color: #C2C2C2;
    }
}
.table-tender__active {
    td {
        color: #fff;
        background: #636B70 !important;
    }
}
 .td-plus-open {
    
        background: #FFDC00 !important;
        color: #636B70 ;
}
.td-plus-border-bottom {
    border-bottom-left-radius: 8px;
}
.td-plus-border-bottom.td-plus-open {
    border-radius: 0;
}
 .table-open {
    th {
        background: #FFDC00 !important;
    }
    &__item {
        td{
            background: #FFF6BE !important;
        }
    }
}
.bg-green {
    background: #A4B700 !important;
}
.bg-red {
    background: #FF5D5D !important;
}
.color-white {
    color: #fff;
}
.grey-line {
    width: 25px;
    border-bottom: 2px solid #636b70;
    margin-top: 5px;
    margin-bottom: 5px;
}
.vertical-line {
    display: inline-block;
    position: absolute;
    height: 70%;
    border-left: 1px solid #AEAEAE;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.rate {
    background: #fff !important;
    padding: 0 !important;
   
}
.rate-row {
    padding: 0 !important;
    
}
.input-rate {
    border: 1px solid #E2E2E2;
    padding: 4px;
    font-size: 16px;
   width: 100%;
   flex: 1;
   color: #636B70;
   &__border-green {
    border: 1px solid #A4B700 !important;
   }
   &__border-red {
    border: 1px solid #FF5D5D !important;
   }
   &__row {
       background: transparent;
       height: 100%;
   }
}
.rate-row-wrap {
    width: 100%;
    height: 100%;
}
.rate-finished {
    color: #ABABAB;
}
.button-rate-send {
    width: 30px;
    flex-basis: 30px;
    margin-left: 3px;
   background: #00A7E3;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   background-position: center;
   background-repeat: no-repeat;
   background-image: url('../img/send-button.png');
}
.button-rate-already-send {
    background-color: #A4B700;
    background-image: url('../img/tick.png');
}
.footer {
    position: fixed;
    width: 100%;
    background: #fff;
    bottom: 0;
    left: 0;
    padding: 20px 0;
}
.common-button-send {
    display: inline-block;
    background: #00A7E3;
    color: #fff;
    padding: 8px 25px;
    border-radius: 5px;
}
.main-tender {
    padding-bottom: 80px;
}
.offer-count {
    display: inline-block;
    background: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: #636B70;
    text-align: center;
    font-size: 15px;
    line-height: 16px;
    position: relative;
    top: -2px;
    margin-left: 5px;
}
.pagination {
    width: 100%;
    margin-top: 40px;
    border-top: 2px solid #F1F1F1;
    padding: 15px;
    text-align: center;
    &-wrap {
       display: inline-block;
       margin: 0 auto;
    }
    &__button {
        display: inline-block;
        position: relative;
        top: 13px;
        width: 32px;
        height: 32px;
        background: #FFDC00;
        border-radius: 5px;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0 20px;
        transition: 0.3s all;
        &:hover {
            box-shadow: 0 0 5px -2px #000;
        }
    }
    &__prev {
        background-image: url('../img/arrow-point-to-right (1).png');
    }
    &__next {
        background-image: url('../img/arrow-point.png');
    }
    &__number {
        display: inline-block;
        min-width: 32px;
        height: 32px;
        line-height: 29px;
        border: 1px solid transparent;
        border-radius: 5px;
        transition: 0.3s all;
        &:hover {
            border: 1px solid #FFDC00;
            text-shadow: 0 0 0.3px #000, 0 0 0.3px #000;
        }
    }
    &__number-active {
        border: 1px solid #FFDC00;
        text-shadow: 0 0 0.3px #000, 0 0 0.3px #000;
    }
    &__ellipsis {
        display: inline-block;
    }
}
.td-plus-height {
    height: 32px;
}
.table-tender__active {
    .rate {
        .input-rate__row {
            background-color: #fff;
        }
    }
    .rate-row {
        .input-rate__row {
            color: #fff;
        }
    }
}
.list-td {
    padding: 0 !important;
    
}
.list {
    background: #fff;
    border: 1px solid #e2e2e2;
}
.list-item {
    color: #B4B4B4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    -webkit-box-align: center;
    
        -ms-flex-align: center;
    
            align-items: center;
    width: 100%;
    transition: 0.3s all;
    padding: 4px 0;
    cursor: pointer;
    border-top: 1px solid #e2e2e2;
    &:first-child {
        border: none;
    }
    span {
        display: inline-block;
        padding-left: 4px;
        width: calc(100% - 25px);
    }
    &:hover {
        background-color: #00A7E3;
        color: #fff;
    }
}
.list-item-is-sent {
    height: 100%;
    &:hover {
        background-color: #A4B700;
        color: #fff;
    }
    .list-send-button {
        background-image: url('../img/tick.png');
        background-position: center;
        background-repeat: no-repeat;
    }
}
.list-send-button {
    display: inline-block;
    width: 16px;
    height: 14px;
    margin-left: 5px;
    margin-right: 4px;
    background-image: url('../img/send-button.png');
}
@media (min-width: 1200px) {
    .container {
        width: 1280px;
        padding-left: 0;
        padding-right: 0;
    }
}



////New styles

.common-table-wrap {

    .export-lable {
        margin-left: 20px;
        &:after {
            border: 1px solid #636b70;
        } 
        &::before {
            border-color: #fff;
        }
    }
    .tender-type .heder-input-checkbox:checked+label:after {
        background-color: #636b70;
    }
    .table-tender__export {
        .export-lable {
            &:before {
                border-color: #f08400;
            }
            &:after {
                border: none;
            }
        }
    }
    .table-tender__import {
        .export-lable {
            &:before {
                border-color: #a4b700;
            }
            &:after {
                border: none;
            }
               
        }
    }
    .table-tender__uk {
        .export-lable {
            &:before {
                border-color: #00a7e3;
            }
            &:after {
                border: none;
            }
        }
    }
}