<tr *ngIf="renderHeader"
    class="table-tender__header table-tender__header--bg-none table-tender__header--bg-green {{rowClass}} ">
    <td class="td-border-top-left" colspan="2">{{countryName}}</td>
    <!-- <td>{{tendersAmount}}</td> -->
    <td class="td-border-top-right " colspan="10">{{rowText}}</td>
</tr>
<tr class="table-tender__common-row" [class.table-tender__active]="IsOpened">
  <td class="text-center width-32px">
    <input class="check-input" id="check-{{tender.unicalNumber}}" type="checkbox"
           (change)="toggleSelection($event)" [ngModel]="IsSelected"><label class="check-label"
                                                                            for="check-{{tender.unicalNumber}}"></label>
  </td>
  <td rowspan="2">
    <!--style="background: #ff5d5d !important; color: #fff;"-->
    <!-- Новый -->
    {{tender.number}}
  </td>
  <td rowspan="2">{{tender.countryFrom}}</td>
  <td rowspan="2">{{tender.cityFrom}}</td>


  <td rowspan="2">{{tender.countryTo}}</td>
  <td rowspan="2">{{tender.cityTo}}</td>
  <td rowspan="2">{{getMonth(tender.loadingFrom)}} <br />{{getMonth(tender.unloadingDate)}}</td>
  <td rowspan="2" colspan="3">{{tender.cargoType}}</td>
  <td rowspan="2">{{tender.transportType}}</td>
  <!--<td rowspan="2">{{tender.currency}}</td>-->
  <!-- <td rowspan="2">{{tender.customerComment}}</td> -->
  <td rowspan="2">{{TenderEndTime}}</td>

</tr>
<tr class="table-tender__common-row">
    <td (click)="toggleMoreInfo($event)" [class.td-plus-open]="IsOpened"
        class="text-center font-size width-32px td-plus td-plus-height"><span>{{ShowMoreSign}}</span></td>
</tr>
<!-- <tr *ngIf="IsOpened" class="table-open">
    <th class="text-center" colspan="6">Вид транспорта</th>
    <th class="text-center" colspan="4">Пункт погрузки</th>
    <th class="text-center">Время погрузки</th>
    <th class="text-center">Файлы</th>
</tr>
<tr *ngIf="IsOpened" class="table-open__item">
    <td class="text-center " colspan="6">{{tender.transportType}}</td>
    <td class="text-center" colspan="4">---</td>
    <td class="text-center">{{LoadingTime}}</td>
    <td class="text-center"><span class="download-icon download-icon-grey"></span>Скачать</td>
</tr> -->

<tr *ngIf="IsOpened" class="table-open">
    <th class="text-center" colspan="4">Продукция</th>
    <th class="text-center" colspan="2">Вид транспорта</th>
    <th class="text-center" colspan="4">Доп. инф-ция</th>
    <th class="text-center" colspan="2">Файлы</th>
</tr>
<tr *ngIf="IsOpened" class="table-open__item">
    <td class="text-center" colspan="4">{{tender.cargoType}}</td>
    <td class="text-center" colspan="6">{{tender.transportType}} {{tender.customerComment}}</td>
    <td class="text-center" colspan="2"><a href="#" style="color: #636B70;"><span
                class="download-icon download-icon-grey"></span>Скачать</a></td>
</tr>
