<div class="row" *ngIf="isLoaded">
  <div class="col-xs-12">
    <div class="main__poster">
      <div class="main__poster-text">
        <h1>{{'banner.attention' | translate}}</h1>
        <p>{{'banner.title1' | translate}}</p>
        <p>{{'banner.title2' | translate}}</p>
        <p>{{'banner.title3' | translate}}</p>
      </div>
    </div>
    <div class="main__search clearfix">
      <div class="time-panel">
        <div class="left-group">
          <h2>{{'banner.site-time' | translate}}: {{localTimeString}}</h2>
        </div>
        <!--<div class="right-group">
              <h2>Время сервера: {{serverTimeString}}</h2>
            </div>-->
      </div>
      <!-- <input type="text" placeholder="Поиск тендеров">
  <a class="main__search-icon" href="#"></a> -->
    </div>

    <ul class="tender">
      <li class="tender__item cursor-pointer" [class.tender__item-active]="tab == 1" routerLink="/bids/one-time">
        <a href="#" (click)="$event.preventDefault()">{{'tender-type.one-time' | translate}}<span
            class="tender__count">{{getTabTendersAmount(1)}}</span></a>
      </li>
      <li class="tender__item cursor-pointer" [class.tender__item-active]="tab == 2" routerLink="/bids/loop">
        <a href="#" (click)="$event.preventDefault()">{{'tender-type.circle' | translate}}<span
            class="tender__count">{{getTabTendersAmount(2)}}</span></a>
      </li>
      <li class="tender__item cursor-pointer" [class.tender__item-active]="tab == 3" routerLink="/bids/grouped">
        <a href="#" (click)="$event.preventDefault()">{{'tender-type.grouped' | translate}}<span
            class="tender__count">{{getTabTendersAmount(3)}}</span></a>
      </li>
      <li class="tender__item cursor-pointer" [class.tender__item-active]="tab == 4" routerLink="/bids/contract">
        <a href="#" (click)="$event.preventDefault()">{{'tender-type.temporarily' | translate}}<span
            class="tender__count">{{getTabTendersAmount(4)}}</span></a>
      </li>
    </ul>

    <app-simple-routes *ngIf="tab == 1" [current]="simple" [options]="options" [filterForm]="form"
      [filterState]="filtersState" (onBidsSubmited)="onBidsSubmitted($event)"
      (onBidsSubmitFailed)="onBidSubmitFailed($event)">
    </app-simple-routes>
    <app-circle-routes *ngIf="tab == 2" [current]="circle" [options]="options" [filterForm]="form"
      [filterState]="filtersState" (onBidsSubmited)="onBidsSubmitted($event)"
      (onBidsSubmitFailed)="onBidSubmitFailed($event)">
    </app-circle-routes>
    <app-group-rotues *ngIf="tab == 3" [current]="group" [options]="options" [filterForm]="form"
      [filterState]="filtersState" (onBidsSubmited)="onBidsSubmitted($event)"
      (onBidsSubmitFailed)="onBidSubmitFailed($event)"></app-group-rotues>
    <app-contract-routes *ngIf="tab == 4" [current]="contract" [options]="options" [filterForm]="form"
      [filterState]="filtersState" (onBidsSubmited)="onBidsSubmitted($event)"
      (onBidsSubmitFailed)="onBidSubmitFailed($event)">
    </app-contract-routes>
  </div>
</div>
<footer class="text-center footer">
  <a class="common-button-send" (click)="sendAllBids($event)" [class.disabled]="!IsAllValid" href="#">{{'all-bids' | translate}}</a>
</footer>
